{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set hideBackLink = false %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '24GB0Z8WEJ9ZBTL73B' %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      24GB0Z8WEJ9ZBTL73B
    </li>
  </ol>
</nav>
{% endblock %}


{% block form %}
<h2 class="govuk-heading-m sectionHeader">Customs declaration details</h2>

<div class="mrn-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>MRN</dt>
        <dd>24GB9JKKNN63PDNAR4</dd>
      </div>
      <div class="row">
        <dt>DUCR</dt>
        <dd>4GB335031931000-WB2408-27WWL6274S</dd>
      </div>
      <div class="row">
        <dt>CDS status</dt>
        <dd>Current</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 11:23</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second">Commodity code</th>
        <th scope="col" class="govuk-table__header third ">Description</th>
        <th scope="col" class="govuk-table__header forth ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header fifth" >CHED reference</th>
        <th scope="col" class="govuk-table__header fifth" >Match</th>
        <th scope="col" class="govuk-table__header fifth " style="width: 25%;">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">2104200090</td>
        <td class="govuk-table__cell" data-tooltip="PREPERED MISCELLANEOUS FOODSTUFFS:SOUPS AND BROTHS AND PREPARATIONS THEREFOR; HOMOGENISED COMPOSITE FOOD PREPARATIONS">PREPERED MISCELLANEOUS FOODSTUFFS:SO ...</td>
        <td class="govuk-table__cell">6.54</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>
              GBCHD2024.4777515
            </li>
        </ul>
        </td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Release - Inspection Complete <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>

      
    </tbody>
  </table>
</div>

<div class="mrn-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>MRN</dt>
        <dd>24GB9JLCVIDG6URAR7</dd>
      </div>
      <div class="row">
        <dt>DUCR</dt>
        <dd>4GB335031931000-WB2408-27WWL6274S</dd>
      </div>
      <div class="row">
        <dt>CDS status</dt>
        <dd>Current</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 11:23</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second">Commodity code</th>
        <th scope="col" class="govuk-table__header third ">Description</th>
        <th scope="col" class="govuk-table__header forth ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header fifth" >CHED reference</th>
        <th scope="col" class="govuk-table__header fifth" >Match</th>
        <th scope="col" class="govuk-table__header fifth " style="width: 25%;">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell">203121100</td>
        <td class="govuk-table__cell" data-tooltip="EDIBLE OFFAL OF BOVINE ANIMALS, SWINE, SHEEP, GOATS, HORSES, ASSES, MULES OR HINNIES, FRESH, CHILLED OR FROZEN">EDIBLE OFFAL OF BOVINE ANIMALS SWINE ...</td>
        <td class="govuk-table__cell">4.74</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>
              GBCHD2024.4777512
            </li>
        </ul>
        </td>
        <td class="govuk-table__cell no-match" data-tooltip="The following document reference from the customs declaration cannot be found: <br><br> GBCHD2024.4777512"><strong class="govuk-tag govuk-tag--red message">No</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                No match <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">203121900</td>
        <td class="govuk-table__cell" data-tooltip="SHOULDERS AND CUTS OF DOMESTIC SWINE AND CUTS THEREOF, DRIED OR SMOKED, WITH BONE INSHOULDERS AND CUTS THEREOF, DRIED OR SMOKED, WITH BONE IN">SHOULDERS AND CUTS OF DOMESTIC SWINE ...</td>
        <td class="govuk-table__cell">102.8</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>
              GBCHD2024.4777511
            </li>
        </ul>
        </td>
        <td class="govuk-table__cell no-match" data-tooltip="The following document reference from the customs declaration cannot be found: <br><br> GBCHD2024.4777511"><strong class="govuk-tag govuk-tag--red message">No</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                No match <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">203191500</td>
        <td class="govuk-table__cell" data-tooltip="MEAT OF SWINE FRESH CHILLED OR FROZEN">MEAT OF SWINE FRESH CHILLED OR FROZE ...</td>
        <td class="govuk-table__cell">56.96</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list ">
            <li >
              GBCHD2024.4777474
            </li>
            <li >
              GBCHD2024.4777500
            </li>
        </ul>
        </td>
        <td class="govuk-table__cell no-match" data-tooltip="The following document reference from the customs declaration cannot be found: <br><br> GBCHD2024.4777474"><strong class="govuk-tag govuk-tag--red message">No</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                No match <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">7</td>
        <td class="govuk-table__cell">203191500</td>
        <td class="govuk-table__cell" data-tooltip="MEAT OF SWINE FRESH CHILLED OR FROZEN FOODS">MEAT OF SWINE FRESH CHILLED OR FROZE ...</td>
        <td class="govuk-table__cell">56.96</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li >
              GBCHD2024.4777419
            </li>
            <li>
              GBCHD2024.4777446
            </li>
            <li>
              GBCHD2024.4777458
            </li>
        </ul>
        </td>
        <td class="govuk-table__cell no-match" data-tooltip="The following document reference from the customs declaration cannot be found: <br><br> GBCHD2024.4777446 <br>GBCHD2024.4777458"><strong class="govuk-tag govuk-tag--red message">No</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                No match <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>     
    </tbody>
  </table>
</div>


<h2 class="govuk-heading-m sectionHeader ched-header">IPAFFS notification (CHED) details</h2>

<div class="ched-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>CHEDP.GB.2024.4777419</dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>Completed</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 20:11</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " style="width: 30%;" >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">160100</td>
        <td class="govuk-table__cell">Suidae</td>
        <td class="govuk-table__cell">4.81</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">160241</td>
        <td class="govuk-table__cell">Suidae</td>
        <td class="govuk-table__cell">1.68</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">160249</td>
        <td class="govuk-table__cell">Suidae</td>
        <td class="govuk-table__cell">3.9</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>      
    </tbody>
  </table>
</div>

<div class="ched-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>CHEDP.GB.2024.4777515</dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>Completed</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 20:11</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " style="width: 30%;">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">160100</td>
        <td class="govuk-table__cell">Suidae</td>
        <td class="govuk-table__cell">15.71</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">401</td>
        <td class="govuk-table__cell">Bos taurus</td>
        <td class="govuk-table__cell">726.42</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">40229</td>
        <td class="govuk-table__cell">Bos taurus</td>
        <td class="govuk-table__cell">74.34</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>      
    </tbody>
  </table>
</div>
<div class="ched-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>CHEDP.GB.2024.4777500</dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>Completed</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 20:11</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " style="width: 30%;" >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">160100</td>
        <td class="govuk-table__cell">Suidae</td>
        <td class="govuk-table__cell">4.15</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">2031211</td>
        <td class="govuk-table__cell">Sus scrofa domesticus</td>
        <td class="govuk-table__cell">4.75</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>  
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">2031219</td>
        <td class="govuk-table__cell">Sus scrofa domesticus</td>
        <td class="govuk-table__cell">102.8</td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Acceptable for internal market <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>  
    </tbody>
  </table>
</div>
<style>
  .govuk-width-container {
    max-width: 1200px;
}
.sectionHeader {
  border-bottom: 1px solid #b1b4b6;
  padding: 0 0 .5em 0;
  margin: 0 0 .5em 0;

}
.ched-header {
  margin: 1.5em 0 .5em 0;

}
/* .govuk-width-container {
width: 1024px;
} */

/* definiton list */
.container {
  background-color: #f3f3f3;
  padding: 0 1em;
  margin: 1em auto;
}

.definition-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns with a max width of 200px */
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
}

dt {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #000;
  padding: 0;
}

dd {
  margin: 0.3rem 0 0 0;
  font-size: 16px;
  max-width: 200px;
}




.data-table th, .data-table td, .govuk-tag, .govuk-list {
font-size: 16px;
}
.data-table td span{
  font-size: 14px;

}
td .govuk-list {
  margin-bottom: 0;
}

.mrn-container, .ched-container {
  padding: 0em 0 .3em 0;
}
.govuk-tag--red.message{
  text-decoration:underline dotted;text-underline-position:under;
    cursor: help; 
}

/* styling of tooltip */
/* If you want to style the tooltip further, e.g., change background colour or text colour */
/* Initially hide the custom tooltip */
.tooltip {
  display: none;
  position: absolute;
  width: 300px;
  padding: 10px;
  z-index: 10;
  background-color: #f3f2f1  ;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Add drop shadow here */

}

/* Show tooltip on hover */
.govuk-table__cell:hover .tooltip {
  display: block;
}


@media (max-width: 800px) {
  .definition-list {
    grid-template-columns: 1fr; /* Stack items vertically */
  }

  .row {
    margin-bottom: 0rem; /* Add spacing between rows */
  }
  .data-table th, .data-table td, .govuk-tag, .govuk-list,dd, dt {
    font-size: 14px;
}
}
</style>
<script>
document.querySelectorAll('.govuk-table__cell').forEach(cell => {
  // Check if the cell has the data-tooltip attribute
  if (cell.hasAttribute('data-tooltip')) {
    // Add cursor style
    cell.style.cursor = 'help';

    cell.addEventListener('mouseenter', function() {
      const tooltipText = cell.getAttribute('data-tooltip'); // Get the tooltip content
      const tooltip = document.createElement('span');
      tooltip.classList.add('tooltip');
      tooltip.innerHTML = tooltipText; // Use innerHTML to allow HTML content
      cell.appendChild(tooltip);

      // Position the tooltip
      const rect = cell.getBoundingClientRect();
      tooltip.style.left = `${rect.left}px`;
      tooltip.style.top = `${rect.bottom + window.scrollY - 10}px`; // Adjusted to appear higher (subtract 10px)
    });

    cell.addEventListener('mouseleave', function() {
      const tooltip = cell.querySelector('.tooltip');
      if (tooltip) {
        tooltip.remove();
      }
    });
  }
});




</script>
{% endblock %}
