{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '24GB0Z8WEJ9ZBTL73B' %}
{% set bodyClasses = 'mrn' %}





{% block form %}
<h2 class="govuk-heading-m sectionHeader">Customs declaration details</h2>

<div class="mrn-container">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>MRN</dt>
        <dd>{{ title }}</dd>
      </div>

      <div class="row">
        <dt>CDS status</dt>
        <dd>Current</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>15 November 2024, 11:23</dd>
      </div>
    </dl>
  </div>


  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" >Item  number</th>
        <th scope="col" class="govuk-table__header">Commodity code</th>
        <th scope="col" class="govuk-table__header ">Description</th>
        <th scope="col" class="govuk-table__header ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header" >CHED reference</th>
        <th scope="col" class="govuk-table__header" >Match</th>
        <th scope="col" class="govuk-table__header" >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">2104200090</td>
        <td class="govuk-table__cell">
        <span>SHOULDERS AND CUTS OF DOMESTIC SWINE ...</span>
        <span class="tooltip" role="tooltip">
          SHOULDERS AND CUTS OF DOMESTIC SWINE AND CUTS THEREOF, DRIED OR SMOKED, WITH BONE INSHOULDERS AND CUTS THEREOF, DRIED OR SMOKED, WITH BONE IN
        </span>
      </td>
        <td class="govuk-table__cell">6.54</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>
              GBCHD2024.4777515
            </li>
        </ul>
        </td>
        
        <td class="govuk-table__cell no-match" tabindex="0">
          <span><strong class="govuk-tag govuk-tag--red message">No</strong></span>
          <span class="tooltip" role="tooltip">
            {{ data.noMatch | safe }} GBCHD2024.4777515
          </span>
      </td>        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li>
                Hold - To be inspected <span>(PHA-POAO)</span>
              </li>
            </ul>
        </td>
      </tr>

      
    </tbody>
  </table>
</div>




<h2 class="govuk-heading-m sectionHeader ched-header">IPAFFS pre-notification (CHED) details</h2>


{{ govukInsetText({
  text: "There are no IPAFFS pre-notification (CHED) details"
}) }}


{% endblock %}
