

<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button"
                class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item {{ 'govuk-service-navigation__item--active' if currentPage == 'search' }}">
            <a class="govuk-service-navigation__link"
               href="/mvp/v5/search"
               {% if currentPage == 'search' %}aria-current="true"{% endif %}>
              Search
            </a>
          </li>

          <li class="govuk-service-navigation__item {{ 'govuk-service-navigation__item--active' if currentPage == 'reporting' }}">
            <a class="govuk-service-navigation__link"
               href="/mvp/v5/reporting/summary-view"
               {% if currentPage == 'reporting' %}aria-current="true"{% endif %}>
              <strong class="govuk-service-navigation__active-fallback">Reporting</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item {{ 'govuk-service-navigation__item--active' if currentPage == 'latest-activity' }}">
            <a class="govuk-service-navigation__link"
               href="/mvp/v5/latest-activity"
               {% if currentPage == 'latest-activity' %}aria-current="true"{% endif %}>
               Latest activity
            </a>
          </li>
        <!-- <li class="govuk-service-navigation__item {{ 'govuk-service-navigation__item--active' if currentPage == 'user-guide' }}">
            <a class="govuk-service-navigation__link"
               href="/mvp/v5/user-guide"
               {% if currentPage == 'user-guide' %}aria-current="true"{% endif %}>
               User guide
            </a>
          </li> -->
                <li class="govuk-service-navigation__item {{ 'govuk-service-navigation__item--active' if currentPage == 'admin' }}">
            <a class="govuk-service-navigation__link"
               href="/mvp/v5/admin/view"
               {% if currentPage == 'admin' %}aria-current="true"{% endif %}>
               Admin view
            </a>
          </li>
          {# --- Right-aligned account actions --- #}
          {% set _hideManageAccount = (data.hideManageAccount or hideManageAccount or 'false') %}

          {% if _hideManageAccount != 'true' %}
            <li class="govuk-service-navigation__item app-push-right {{ 'govuk-service-navigation__item--active' if currentPage == 'manage-account' }}">
              <a class="govuk-service-navigation__link"
                href="/mvp/v5/manage-account"
                {% if currentPage == 'manage-account' %}aria-current="true"{% endif %}>
                Manage account
              </a>
            </li>
          {% endif %}
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/mvp/v5/sign-out">Sign out</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</div>
<style>
  .app-push-right {margin-left: auto; /* pushes this item and the following ones to the right */
}
  .govuk-header__navigation-list,
  .app-footer-li-reporting,
  .app-footer-li-cds,
  .searchLink {
   display: none!important;
  }

</style>