<div class="inline-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label" for="match">Match</label>
    <select class="govuk-select" id="match" name="match">
      <option value="show-all" selected>Show all</option>
      <option value="match">Yes</option>
      <option value="noMatch">No</option>
    </select>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="auth">Authority</label>
    <select class="govuk-select" id="auth" name="auth">
      <option value="show-all" selected>Show all</option>
      <option value="APHA">APHA</option>
      <option value="FNAO">FNAO</option>
      <option value="HMI">HMI</option>
      <option value="IUU">IUU</option>
      <option value="PHSI">PHSI</option>
      <option value="POAO">POAO</option>
    </select>
  </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="decision">Decision</label>
    <select class="govuk-select" id="decision" name="decision">
      <option value="show-all" selected>Show all</option>
      <option value="hold">Hold</option>
      <option value="refused">Refused</option>
      <option value="release">Release</option>
      <!-- <option value="refusal">Refused</option> -->
    </select>
  </div>
  <div class="govuk-form-group">
    <a href="#" data-clear="mrn" class="clear-filter" >Clear Filters</a>


   </div>
</div>