{% set showHeading = showHeading | default(true) %}  {# fallback to true if not set #}

{{ govukRadios({
  name: "radio",
  class: "radio",
  fieldset: {
    legend: {
      text: "How do you want to sign in?",
      isPageHeading: showHeading,
      classes: "govuk-fieldset__legend--m"
    }
  },
  value: data.test,
  items: [
    {
      value: "Yes",
      text: "Defra Single Sign-On",
      hint: {
        text: "If you have a Defra or APHA email address"
      }          
    },
    {
      value: "No",
      text: "Government Gateway",
      hint: {
        text: "If you have an HMRC or PHA email address"
      } 
    }
  ]
}) }}
