{% macro statCard(label, value, percentage = "", modifier = "", href = "", linkText = "") %}
  <div class="stat-card {{ modifier }}">
    <div class="stat-card__label">{{ label }}</div>
    <div class="stat-card__value-wrapper">
      <span class="stat-card__value">{{ value }}</span>
      {% if percentage %}
        <span class="stat-card__percentage percentage">({{ percentage }})</span>
      {% endif %}
    </div>

    {% if href %}
      <p class="statcard-link">
        <a href="{{ href }}" class="govuk-link" download>
          {{ linkText or ('View ' ~ label | lower) }}
        </a>
      </p>
    {% endif %}
  </div>
{% endmacro %}
