{# includes/stat-card.njk #}
{% macro statCard(label, value, percentage = "", modifier = "", href = "", linkText = "Download CSV", hiddenLabel = "") %}
  {# normalise the value to a number (handles "1,175") #}
  {% set valueStr = (value | string) %}
  {% set numeric  = (valueStr | replace(",", "") | float) %}

  <div class="stat-card {{ modifier }}">
    <div class="stat-card__label">{{ label }}{% if hiddenLabel %}<span class="govuk-visually-hidden"> {{ hiddenLabel }}</span>{% endif %}</div>
    <div class="stat-card__value-wrapper">
      <span class="stat-card__value">{{ value }}</span>
      {% if percentage %}
        <span class="stat-card__percentage percentage">({{ percentage }})</span>
      {% endif %}
    </div>

    {% if href and numeric > 0 %}
      <p class="statcard-link">
        <a href="{{ href }}" class="govuk-link">{{ linkText }}</a>
      </p>
    {% endif %}
  </div>
{% endmacro %}
