{% if startDateFormatted and endDateFormatted %}
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">
    Showing results from {{ startDateFormatted }} to {{ endDateFormatted }}
  </p>
{% endif %}
