//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import "patterns/_search";
@import "patterns/mrn";
$govuk-new-typography-scale: true;

.govuk-header__navigation { 
  display: inline-block;
  float: right;
}

.search-results-header span {
    font-weight: 600;
    display: inline-block;
    min-width: 140px;
    line-height: 1.6;
  }
  .search-hint ul{
    margin: 0;
    padding: 0;

  }
  .search-hint li{
  font-size: 16px;
  }
  .searchBanner{
    background-color: #f3f2f1;
    padding: 15px;
  }

  dd,
  dt {
    margin: 0;
  }
  dt {
    font-weight: 600;
    padding-bottom: 0.5em;
  }

  .grid-row {
    margin: 0 0;
  }
  .container {
    display: grid;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .column-third,
  .column-one-third {
    padding: 0 15px 0 0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  @media (min-width: 641px) {
    .column-third,
    .column-one-third {
      float: left;
      width: 33.33333%;
    }
  }

  .govuk-error-message {
    color: #d4351c;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  .document-ref .header{
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 0.4em;
  }
  .document-ref details {
    border-top: 1px solid #b1b4b6;
    margin: 0px;
    padding: 15px 0;
    display: block;

  }
  .govuk-summary-card .govuk-tag {
    min-width: 120px;
    text-align: center;
}
.commodity-number {
  font-weight: 700;
}