//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "patterns/_search";
@import "patterns/mrn";
@import "patterns/start-page";
@import "patterns/accordion";
@import "patterns/status";
@import "patterns/reporting";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


// index page styles
.index {
  .jira {
    display: table;
    margin: 5px 0;
    font-size: 16px!important;
    color: #0b0c0c !important;

    }
    li span {
      display: table;
    margin: 5px 0;
    font-size: 16px!important;
    }
}


 .signIn{
  .govuk-radios__label {font-weight: 700;}
 }


.govuk-phase-banner__content__tag {
  display: none;
}
.govuk-header__navigation {
  display: inline-block;
  float: right;
}

.search-results-header span {
    font-weight: 600;
    display: inline-block;
    min-width: 140px;
    line-height: 1.6;
  }
  .search-hint ul{
    margin: 0;
    padding: 0;

  }
  .search-hint li{
  font-size: 16px;
  }
  .searchBanner{
    background-color: #f3f2f1;
    padding: 15px;
  }

  dd,
  dt {
    margin: 0;
  }
  dt {
    font-weight: 600;
    padding-bottom: 0.5em;
  }

  .grid-row {
    margin: 0 0;
  }
  .container {
    display: grid;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .column-third,
  .column-one-third {
    padding: 0 15px 0 0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  @media (min-width: 641px) {
    .column-third,
    .column-one-third {
      float: left;
      width: 33.33333%;
    }
  }

  .govuk-error-message {
    color: #d4351c;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  .document-ref .header{
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 0.4em;
  }
  .document-ref details {
    border-top: 1px solid #b1b4b6;
    margin: 0px;
    padding: 15px 0;
    display: block;

  }
  .govuk-summary-card .govuk-tag {
    min-width: 120px;
    text-align: center;
}
.govuk-tag--yellow {
  font-weight: 700;
  max-width: fit-content;
}

.status {
  font-weight: 800;
  max-width: fit-content;
}

.commodity-number {
  font-weight: 700;
}



.no-data-message {
  font-size: 16px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 10px solid #b1b4b6;

}
.error{
  color: #d4351c;
}



.govuk-template--rebranded {
  .govuk-header__navigation-item a{
    font-weight: 700;
  }
  .govuk-header__service-name + .govuk-header__navigation {
   padding: 0;
    margin: 19px 0 11px;
  }
  .start-page .govuk-header__content {
    display:none;
  }
  .govuk-footer__crown {
    margin-bottom: 0;
  }
}