{% extends "layouts/forms.html" %}
{% set fullWidth = true %}
{% set bodyClasses = 'btmsStatus v4 gmr' %}
{% set hideBackLink = true %}
{% set backText = 'Back to HX66 BVL' %}
{% set backHref = '/mvp/v6/search' %}
{% set showSubheader = true %}
{% set title = 'GMRA00002TT2' %}
{% set menu = true %}
{% set subHeader = 'Showing result for' %}

{% set hideButton = true %}
{% set signedIn = 'true' %}

{% block form %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-0">Vehicle details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Vehicle Registration Number (VRN)</dt>
        <dd class="govuk-summary-list__value">
          <a href="/mvp/v6/vrn-search/trn-vrn-results?q=HX66 BVL" class="number-plate number-plate--rear" aria-label="Vehicle registration number HX66 BVL">HX66
            BVL</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trailer Registration Number (TRN)</dt>
        <dd class="govuk-summary-list__value">
          <a href="/mvp/v6/vrn-search/trn-vrn-results?q=DC17 PPL" class="number-plate number-plate--front" aria-label="Trailer registration number DC17 PPL">DC17
            PPL</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Arrival date</dt>
        <dd class="govuk-summary-list__value">07 January 2025, 06:11</dd>
      </div>
    </dl>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Linked customs declarations</h2>

    <table class="govuk-table app-mrn-table govuk-!-margin-top-2">
      <caption class="govuk-visually-hidden">Linked customs declarations for GMRA00002TT2</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">MRN</th>
          <th scope="col" class="govuk-table__header">CDS status</th>
          <th scope="col" class="govuk-table__header">BTMS decision</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/mvp/v6/vrn-search/search-results-timeline?mrn=25GB4VN6T1XZ7B3Q5L">25GB4VN6T1XZ7B3Q5L</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">In progress - Awaiting IPAFFS</strong>
          </td>
          <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          <td class="govuk-table__cell">07 January 2026, 13:38          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/mvp/v6/vrn-search/gmr?gmr=GMRA00002TT2">25GBC64QCLFMUHPAR2</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">In progress - Awaiting trader</strong>
          </td>
          <td class="govuk-table__cell">No match - CHED cannot be found</td>
          <td class="govuk-table__cell">07 January 2025, 09:12</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/mvp/v6/vrn-search/gmr?gmr=GMRA00002TT2">25GBDD03IWJ3IHIAR1</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">Finalised - Released</strong>
          </td>
          <td class="govuk-table__cell">Release - Inspection Complete</td>
          <td class="govuk-table__cell">07 January 2025, 09:07</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="tooltiplink error" tabindex="0" aria-describedby="gmr-tip-1">25NL8HF2M6YR9J1P0C</span>
            <span id="gmr-tip-1" class="tooltip" role="tooltip">
              This MRN cannot be found in BTMS. The MRN may not have SPS goods associated with it or HMRC have not sent
              details of this MRN to BTMS.






            </span>
          </td>
          <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Unknown - Posible transit</span></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>

        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
