{% extends "layouts/forms.html" %} 
{% set title = 'BTMS status' %} 
{% set fullWidth = true %} 
{% set hideButton = true %} 
{% set showheader = true %} 
 {% set bodyClasses = 'btmsStatus' %} 
  {% set hideBackLink = false %} 

{% block form %}


<h1 class="govuk-heading-l">{{title}}</h1>

<p>Showing real-time updates on system performance, highlighting any issues with CDS, IPAFFS, or the BTMS platform. </p>

<table class="govuk-table table-small">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-quarter">Service</th>
      <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-quarter">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-half">Details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row ">
        <td class="govuk-table__cell">BTMS</td>
        <td class="govuk-table__cell status-cell">
            <span class="status operational">Operational</span>
        </td>
      <td class="govuk-table__cell"> </td>
    </tr>
    <tr class="govuk-table__row ">
            <td class="govuk-table__cell">CDS connections</td>
           <td class="govuk-table__cell status-cell">
            <span class="status outage">Outage</span>
        </td>
        <td class="govuk-table__cell"> 
           <strong class="govuk-body">HMRC CDS Connectivity</strong><br>
          <span class="govuk-hint">Outage started: {{ '-24min' | ipaffsTime }}</span>
        </td>
    </tr>
    <tr class="govuk-table__row ">
        <td class="govuk-table__cell">IPAFFS connection</td>
           <td class="govuk-table__cell status-cell">
            <span class="status outage">Outage</span>
        </td>
        <td class="govuk-table__cell"> 
           <strong class="govuk-body">Azure service bus topic subscription</strong><br>
          <span class="govuk-hint">Outage started: {{ '' | ipaffsTime }}</span>
        </td>
    </tr>
  </tbody>
</table>
{% endblock %}










