  /* Sets 1200px width on the results pages */




.mrn {
  .headerh1 {
    display: flex;
     align-items: baseline;
     gap: 10px;
  }
  .inline-form-group {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 20px; /* Adjust spacing between elements */
}

.inline-form-group .govuk-form-group {
    margin-bottom: 10px; /* Remove extra spacing */
}
.clear-filter {
  display: inline-block;
    margin-top: 20px;
}


  .govuk-width-container {
    max-width: 1200px;
  }
  /* Titles of sections */
  .sectionHeader {
    border-bottom: 1px solid #b1b4b6;
    padding: 0 0 .5em 0;
    margin: 0 0 .5em 0;
  }

  .ched-header {
    margin-top: 1em;
  }

  .mrn-container, .ched-container{
    padding: .5em 0 1em 0;
  }

  /* Definition list */
  .container {
    background-color: #f3f3f3;
  }

  .definition-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 1rem;
    padding: 1em .5em;
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  dt {
    font-weight: bold;
    margin: 0;
    color: #000;
    padding: 0;
  }

  dd {
    margin: 0.3rem 0 0 0;
    width: 300px;
  }

  /* Table design */
  .govuk-table {
    margin: .5em 0 1em 0;
  }

  .data-table th,
  .data-table td,
  .govuk-tag,
  .govuk-list,
  .data-table td span,
  dd,
  dt  {
    font-size: 14px;
  }
  .govuk-inset-text, .govuk-label, .govuk-select, .govuk-inset-text p {
    font-size: 16px;

  }

  td .govuk-list {
    margin-bottom: 0;
  }

  .govuk-tag--red.message {
    text-decoration: underline dotted;
    text-underline-position: under;
    cursor: help;
  }

  // th:last-child {
  //   width: 25%;
  // }



  // inset text for no cheds
  .ched-inset {
    margin: 1em 0em 3em;
  }

    /* Responsive */

  @media (max-width: 800px) {
    .definition-list {
      grid-template-columns: 1fr; /* Stack items vertically */
    }

    .row {
      margin-bottom: 0rem; /* Add spacing between rows */
    }

    .data-table th,
    .data-table td,
    .govuk-tag,
    .govuk-list,
    dd,
    dt,
    .no-match{
      font-size: 14px;
    }
  }

  .govuk-table__cell.multi-auth ul li {
    border-top: 1px solid rgba(177, 180, 182, 0.7);
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .govuk-table__cell.multi-auth ul li:first-child  {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }


  .no-data-message {
    font-size: 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6;

  }
  .error{
    color: #d4351c;
  }

  .definition-list .govuk-tag,
  .moj-timeline__description .govuk-tag {
    font-weight: 700 !important;
  }
   .govuk-table__cell.multi-auth ul li.visible-li{
  border-top: none;
    padding-top: initial;
    margin-top: auto;
    margin-bottom: auto;
}
.breadcrumbs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.download-link {
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
}

.download-link::before {
  content: "📄 "; /* Optional: Add an icon before the link */
}

.fas {
  margin-left: 2px;
  color: #0b0c0c;
  font-size: 12px;
  }
}

.v4 {

/* Optional: remove any dashed split styling if used */
.first .govuk-table__cell {
    border-bottom: none;
  }
  .govuk-table__cell.split {
    border-bottom: 1px dashed #dbdbdb;
  }
/* .hold .blank-cell {
  color:#0b0c0c!important
} */
/* Ensure blank cells show normally when "No" match is selected */
tr.filtered-match-no .blank-cell,

tr.filtered-auth-HMI .blank-cell,
tr.first.filtered-auth-PHSI .blank-cell,
tr.first.filtered-decision-release .blank-cell,
tr.second.filtered-decision-hold .blank-cell
{
  color: #0b0c0c !important; /* GOV.UK default text colour */
}
tr.filtered-match-no  .govuk-table__cell {
    border-bottom: none;
}
.PHSI.filtered-match-yes .govuk-table__cell,
.filtered-auth-FNAO .govuk-table__cell,
.filtered-auth-HMI .govuk-table__cell
.first.filtered-decision-release .govuk-table__cell,
.second2.filtered-decision-hold .govuk-table__cell,
.second2.filtered-decision-release .govuk-table__cell,
.second2.filtered-auth-HMI .govuk-table__cell,
.second2.filtered-auth-PHSI .govuk-table__cell

{
    border-bottom: 1px solid #dbdbdb;
}
.first.filtered-auth-PHSI.filtered-decision-release .govuk-table__cell
{
  border-bottom: none;
}
.tooltiplink {
  border-bottom: 1px dashed #d4351c;
}
.ched-container .commodity-table td:last-child  {
  width: 18%;
}
.govuk-list > li:last-child {
  /* Your styles here */
  margin-bottom: 0;
}


  @media screen and (max-width: 700px) {
      .commodity-table {
       overflow: scroll;

    }
    /* Styles here apply only on screens 767px wide or smaller (most phones) */
      .inline-form-group {
        display: block;

    }

    .commodity-table {
      overflow: scroll;

    }

     .govuk-grid-row {
    flex-direction: column;
  }

  .govuk-grid-column-full {
    width: 100%;
    padding: 0;
  }

  .govuk-heading-l {
    font-size: 1.5rem;
  }
  .mrn-container, .ched-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto; /* in case child content is still too wide */
  }

  .mrn-container *, .ched-container * {
    max-width: 100%;
    box-sizing: border-box;
  }
  .govuk-main-wrapper {
    padding: 10px;
  }
  }
}