{% extends "layouts/forms.html" %}
{% set title = 'Search results' %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set hideBackLink = false %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = 'CHEDP.GB.2024.4450758' %}

{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      CHED: CHEDP.GB.2024.4450758
    </li>

  </ol>
</nav>
{% endblock %}

{% block form %}
<ul class="govuk-list search-results-header  searchBanner">
  <li><span>CHED</span> CHEDP.GB.2024.4450758</li>
  <li><span>Decision</span> Acceptable</li>
  <li><span>Description</span> Cleared for Internal Market</li>
  <li><span>Last updated</span> 5 November 2024, 11:23</li>
</ul>
<h2 class="govuk-heading-s">Description of the goods</h2>
<table class="govuk-table govuk-!-margin-bottom-7">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Commodity code</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Weight (kg)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">160232</td>
      <td class="govuk-table__cell">Of fowls of the species Gallus domesticus</td>
      <td class="govuk-table__cell">5</td>

    </tr>

  </tbody>
</table>

<h1 class="govuk-heading-s">Matching MRNs</h1>
<p>There are three matching MRNs linked to CHEDP.GB.2024.4450758 </p>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">MRN</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="mrn">24GB0Z8WEJ9ZBTL73B</a></td>
      <td class="govuk-table__cell">On hold</td>
      <td class="govuk-table__cell">5 November 2024, 12:20</a></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#">24GB1X2TGM3741HZJK</a></td>
      <td class="govuk-table__cell">On hold</td>
      <td class="govuk-table__cell">6 November 2024, 11:24</td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#">24GB0Z8WEJ9ZBTL73A</a></td>
      <td class="govuk-table__cell">On hold</td>
      <td class="govuk-table__cell">6 November 2024, 07:11</td>
    </tr>

  </tbody>
</table>

{% endblock %}
