{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set hideBackLink = false %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '24GB0Z8WEJ9ZBTL73B' %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      MRN: 24GB0Z8WEJ9ZBTL73B
    </li>
  </ol>
</nav>
{% endblock %}


{% block form %}

<ul class="govuk-list search-results-header searchBanner">
  <li><span>MRN</span> 24GB0Z8WEJ9ZBTL73B</li>
  <li><span>Status</span> On hold</li>
  <li><span>Last updated</span> 5 November 2024, 12:20</li>
</ul>

<div class="govuk-!-margin-bottom-2 align-row">
  <p class="align-left">Displaying <span class="commodity-number">2</span> linked to this MRN</p>
  <div class="filter">
    <label for="orderBy" class="govuk-label">Filter items by</label>
    <select class="govuk-select" id="orderBy" name="orderBy">
      <option value="allMatches" selected="">All match types</option>
      <option value="matchOnly">Match only</option>
      <option value="misMatchOnly">Mismatch only</option>
    </select>
  </div>
</div>



<div class="govuk-summary-card result2">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Turkeys</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <strong class="govuk-tag govuk-tag--green"> MATCH </strong>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content container govuk-body">
    <div class="grid-row">
      <dl class="column-third">
        <dt>Commodity code</dt>
        <dd>1602311100</dd>
      </dl>
      <dl class="column-third">
        <dt>Weight (kg)</dt>
        <dd>10</dd>
      </dl>
      <dl class="column-third">
        <dt>Checks</dt>
        <dd>CHED P (H222) - Released</dd>
      </dl>
    </div>
  <div class="document-ref">
    <div class="header">Document references</div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">1 match</span>
        </summary>
        <div class="govuk-details__text container">
          <p class="govuk-body govuk-!-margin-bottom-6">Document reference <b>GBCHD2024.4450799</b> matches with:</p>
          <div class="grid-row">
            <dl class="column-third">
              <dt>CHED Reference</dt>
              <dd><a href="#">CHEDP.GB.2024.4450799</a></dd>
            </dl>
            <dl class="column-third">
              <dt>Decision </dt>
              <dd>
                <ul class="govuk-list ">
                  <li>Acceptable </li>
                  <li>Cleared for internal market</li>
                </ul>
            </dl>
            <dl class="column-third">
              <dt>Last updated</dt>
              <dd>5 November 2024, 09:23</dd>
            </dl>
          </div>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class">Commodity code</th>
                <th scope="col" class="govuk-table__header app-custom-class">Description</th>
                <th scope="col" class="govuk-table__header app-custom-class">Weight (kg)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">160231</td>
                <td class="govuk-table__cell">Of Turkeys</td>
                <td class="govuk-table__cell">10</td>

              </tr>
        
            </tbody>
          </table>

        </div>
      </details>



    </div>

  </div>
</div>

<div class="govuk-summary-card result1">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Tandoori Chicken</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <strong class="govuk-tag govuk-tag--red"> MISMATCH </strong>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content container govuk-body">
    <div class="grid-row">
      <dl class="column-third">
        <dt>Commodity code</dt>
        <dd>1602323010</dd>
      </dl>
      <dl class="column-third">
        <dt>Weight (kg)</dt>
        <dd>5</dd>
      </dl>
      <dl class="column-third">
        <dt>Checks</dt>
        <dd>CHED P (H222) - Pending</dd>
      </dl>
    </div>
  <div class="document-ref">
    <div class="header">Document references</div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">1 match</span>
        </summary>
        <div class="govuk-details__text container">
          <p class="govuk-body govuk-!-margin-bottom-6">Document reference <b>GBCHD2024.4450758</b> matches with:</p>
          <div class="grid-row">
            <dl class="column-third">
              <dt>CHED Reference</dt>
              <dd><a href="ched">CHEDP.GB.2024.4450758</a></dd>
            </dl>
            <dl class="column-third">
              <dt>Decision </dt>
              <dd>
                <ul class="govuk-list ">
                  <li>Acceptable </li>
                  <li>Cleared for internal market</li>
                </ul>
            </dl>
            <dl class="column-third">
              <dt>Last updated</dt>
              <dd>5 November 2024, 11:23</dd>
            </dl>
          </div>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class">Commodity code</th>
                <th scope="col" class="govuk-table__header app-custom-class">Description</th>
                <th scope="col" class="govuk-table__header app-custom-class">Weight (kg)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">160232</td>
                <td class="govuk-table__cell">Of fowls of the species Gallus domesticus</td>
                <td class="govuk-table__cell">5</td>

              </tr>
        
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">1 mismatch</span>
        </summary>
        <div class="govuk-details__text">
          <p>The following document reference from the customs declaration cannot be found:</p>
          <ul class="govuk-list search-results-header">
            <li><span>GBCHD2024.4433177</span></li>
          </ul>
        </div>
      </details>

    </div>

  </div>
</div>
<style>

  .filter label {
    /* font-weight: 600; */
    /* display: inline-block;
    min-width: 140px; */
  }



.align-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
  padding: 1em 0 0.5em  0;
}

.align-left {
  margin: 0; /* Remove default margins */
}

.filter {
  display: flex;
  align-items: center;
}

.govuk-label {
  margin-right: 0.5em; /* Space between label and dropdown */
}
@media (max-width: 700px) {
  .align-row {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align to the left */
  }

  .filter {
    margin-top: 1em; /* Space between text and filter dropdown */

  }
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    const $dropdown = $("#orderBy");
    const $result1 = $(".result1");
    const $result2 = $(".result2");
    const $commodityNumber = $(".commodity-number");

    // Function to count and update the visible commodities
    function updateCommodityCount() {
      const visibleResults = [$result1, $result2].filter(
        ($result) => $result.is(":visible")
      );
      const count = visibleResults.length;

      $commodityNumber.text(count);
      $commodityNumber.next("span").remove(); // Remove existing text to avoid duplication
      $commodityNumber.after(
        `<span> ${count === 1 ? "item" : "items"}</span>`
      );
    }

    // Function to handle filtering
    function filterResults() {
      const value = $dropdown.val();

      if (value === "allMatches") {
        $result1.show();
        $result2.show();
      } else if (value === "matchOnly") {
        $result1.hide();
        $result2.show();
      } else if (value === "misMatchOnly") {
        $result1.show();
        $result2.hide();
      }

      // Update the commodity count after filtering
      updateCommodityCount();
    }

    // Attach event listener to dropdown
    $dropdown.on("change", filterResults);

    // Initialize results and commodity count on page load
    filterResults();
  });
</script>



{% endblock %}
