{% extends "layouts/forms.html" %}
 {% set title = 'Cookies' %}
 {% set fullWidth = false %}
 {% set hideButton = false %}
  {% set showheader = true %}
  {% set hideBackLink = false %}
  {% block form %}

    {% set html %}
      <p class="govuk-body">You’ve set your cookie preferences.</p>
      <p class="govuk-body"><a href="search-cookies"> Go back to the page you were looking at.</a></p>
    {% endset %}

{% if cookies %}
{% set html %}
  <p class="govuk-notification-banner__heading">
    You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="search-cookies?cookies=''">Go back to the page you were looking at</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  type: "success",
  html: html
}) }}
{% endif %}
<h1 class="govuk-heading-l">{{title}}</h1>

<p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>



<h1 class="govuk-heading-m">Essential cookies</h1>
<p>We use cookies to make Border Trade Matching Service (BTMS) work and to collect information about how you use the service.</p>

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Cookie name"
    },
    {
      text: "Purpose"
    },
    {
      text: "Expires"
    }
  ],
  rows: [
    [
      {
        text: "Session cookie"
      },
      {
        text: "Stores encrypted session data"

      },
      {
        text: "When you close your browser"
      }
    ]
  ]
}) }}


<h1 class="govuk-heading-m">Analytics cookies</h1>
<p>With your permission, we use Google Tag Manager to collect data about how you use BTMS. This information helps us improve the service.</p>
<p>Google is not allowed to use or share our analytics data with anyone.</p>
<p>Google Tag Manager stores anonymised information about:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    The pages you visit on the service and how long you spend on them
  </li>
  <li>
    What you click on while using the service
  </li>
</ul>

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Cookie name"
    },
    {
      text: "Purpose"
    },
    {
      text: "Expires"
    }
  ],
  rows: [
    [
      {
        text: "Google Tag Manager"
      },
      {
        text: "Measures service use"

      },
      {
        text: "2 years"
      }
    ]
  ]
}) }}

{{ govukRadios({
  name: "cookies",
  fieldset: {
    legend: {
      text: "Do you want to accept Google Tag Manager cookies?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  value: data.cookies,
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}
{% endblock %}


