{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = 'CHEDPP.GB.2025.5628254' %}
{% set bodyClasses = 'mrn accordion v4' %}
{% set cssClassName = 'auth' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}
{% set hideBackLink = true %}





{% block form %}

<h2 class="govuk-heading-m sectionHeader">{{ data.Cds | safe }}</h2>
{% include 'includes/mrn-filters.html' %}




<div class="mrn-container" id="mrn-toggle">

  <div class="toggle-area" data-target="commodityTable3">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>
            25GB2BYA28XIHGUAR4
          </dd>
        </div>
        <div class="row">
          <dt>DUCR</dt>
          <dd>4GB943952494000-BER047811</dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd> <strong class="govuk-tag govuk-tag--green">In progress</strong>
          </dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>{{ '22 May 2024' | mrnTime }}</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <!-- Chevron arrow wrapper -->
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>



    <div id="commodityTable3" class="commodity-table">
      <table class="govuk-table data-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item number</th>
            <th scope="col" class="govuk-table__header">Commodity code</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Quantity / Weight</th>
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Match</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">



          <!-- SWEET PEPPERS -->
          <tr class="govuk-table__row match release FNAO ">
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">0709609920</td>
            <td class="govuk-table__cell">SWEET PEPPERS</td>
            <td class="govuk-table__cell">4470</td>
            <td class="govuk-table__cell ">GBCHD2025.5628254
            </td>
            <td class="govuk-table__cell ">
              <strong class="govuk-tag govuk-tag--green">Yes</strong>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">Release - Inspection complete </li>
              </ul>
            </td>
          </tr>

          <tr class="no-match">
            <td class="govuk-table__cell ">2</td>
            <td class="govuk-table__cell ">0808309090</td>
            <td class="govuk-table__cell ">CHILLI PEPPERS</td>
            <td class="govuk-table__cell ">3600</td>
            <td class="govuk-table__cell  " tabindex="0">
              <span class="tooltiplink error">GBCHD2025.5628266 </span>
              <span class="tooltip" role="tooltip">
                This CHED has been cancelled. Update the customs declaration with a new reference.
              </span>
            </td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">No</strong></td>

            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell">CHED cancelled</td>
          </tr>
          <tr class="no-match">
            <td class="govuk-table__cell ">3</td>
            <td class="govuk-table__cell ">0808309088</td>
            <td class="govuk-table__cell ">PEARS</td>
            <td class="govuk-table__cell ">1000</td>
            <td class="govuk-table__cell  " tabindex="0">
              <span class="tooltiplink error">GBCHD2025.5628299 </span>
              <span class="tooltip" role="tooltip">
                This CHED has been replaced. Update the customs declaration with a new reference.
              </span>
            </td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">No</strong></td>

            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell">CHED replaced</td>
          </tr>
                    <tr class="no-match">
            <td class="govuk-table__cell ">4</td>
            <td class="govuk-table__cell ">0808309090</td>
            <td class="govuk-table__cell ">CHILLI PEPPERS</td>
            <td class="govuk-table__cell ">100</td>
            <td class="govuk-table__cell  " tabindex="0">
              <span class="tooltiplink error">GBCHD2025.5628268 </span>
              <span class="tooltip" role="tooltip">
                This CHED has been deleted. Update the customs declaration with a new reference.
              </span>
            </td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">No</strong></td>

            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell">CHED deleted</td>
          </tr>
          <tr class="no-match">
            <td class="govuk-table__cell ">5</td>
            <td class="govuk-table__cell ">0808309100</td>
            <td class="govuk-table__cell ">SCOTCH BONNET</td>
            <td class="govuk-table__cell ">1200</td>
            <td class="govuk-table__cell  " tabindex="0">
              <span class="tooltiplink error">GBCHD2025.5764777</span>
              <span class="tooltip" role="tooltip">
                {{ data.noMatchContextual | safe }}
              </span>
            </td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">No</strong></td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell">No match</td>
          </tr>

        </tbody>
      </table>
    </div>


  </div>



</div>


<h2 class="govuk-heading-m sectionHeader ched-header">{{ data.Ipaffs | safe }}</h2>
{% include 'includes/ched-filters.html' %}





<div class="ched-container toggle-area" data-target="commodityTable5">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
          <a href="https://ipaffs-prototype.herokuapp.com/part-2/chedp-landbridge/00-ched-overview"
            target="_blank"><span>CHEDPP.GB.2025.5628254
            </span></a>
          <i class="fas fa-external-link-alt"></i>
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



  <div id="commodityTable5" class="commodity-table">


    <table class="govuk-table data-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item number</th>
          <th scope="col" class="govuk-table__header">Commodity code</th>
          <th scope="col" class="govuk-table__header ">Description</th>
          <th scope="col" class="govuk-table__header ">Quantity / Weight</th>
          <th scope="col" class="govuk-table__header ">Authority</th>

          <th scope="col" class="govuk-table__header ">Decision </th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row PHSI HMI">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">08101000</td>
          <td class="govuk-table__cell">Fragaria x ananassa </td>
          <td class="govuk-table__cell">4470</td>
          <td class="govuk-table__cell decision ">
            <ul class="govuk-list">
              <li class="PHSI">
                PHSI
              </li>

            </ul>
          </td>
          <td class="govuk-table__cell decision ">
            <ul class="govuk-list">
              <li class="PHSI">
                Acceptable for internal market
              </li>

            </ul>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>

<div class="ched-container toggle-area" data-target="commodityTable6" data-collapsed="true">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
          <a href="https://ipaffs-prototype.herokuapp.com/part-2/chedp-landbridge/00-ched-overview"
            target="_blank"><span>CHEDPP.GB.2025.5628266
            </span></a>
          <i class="fas fa-external-link-alt"></i>
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Cancelled</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



  <div id="commodityTable6" class="commodity-table">


    <table class="govuk-table data-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item number</th>
          <th scope="col" class="govuk-table__header">Commodity code</th>
          <th scope="col" class="govuk-table__header ">Description</th>
          <th scope="col" class="govuk-table__header ">Quantity / Weight</th>

          <th scope="col" class="govuk-table__header ">Decision (authority)</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row PHSI HMI">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">0808309090</td>
          <td class="govuk-table__cell">Capsicum annuum </td>
          <td class="govuk-table__cell">3600</td>
          <td class="govuk-table__cell decision ">
            <ul class="govuk-list">
              <li class="PHSI">
                Acceptable for internal market <span>(PHSI)</span>
              </li>

            </ul>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>



<div class="ched-container toggle-area" data-target="commodityTable7" data-collapsed="true">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
          <a href="https://ipaffs-prototype.herokuapp.com/part-2/chedp-landbridge/00-ched-overview"
            target="_blank"><span>CHEDPP.GB.2025.5628299
            </span></a>
          <i class="fas fa-external-link-alt"></i>
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Replaced</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



  <div id="commodityTable7" class="commodity-table">


    <table class="govuk-table data-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item number</th>
          <th scope="col" class="govuk-table__header">Commodity code</th>
          <th scope="col" class="govuk-table__header ">Description</th>
          <th scope="col" class="govuk-table__header ">Quantity / Weight</th>

          <th scope="col" class="govuk-table__header ">Decision (authority)</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row PHSI HMI">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">0808309090</td>
          <td class="govuk-table__cell">Pirum </td>
          <td class="govuk-table__cell">1000</td>
          <td class="govuk-table__cell decision ">
            <ul class="govuk-list">
              <li class="PHSI">
                Acceptable for internal market <span>(PHSI)</span>
              </li>

            </ul>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>




{% endblock %}