{% extends "layouts/forms.html" %}
{% set title = 'Search by MRN, CHED or DUCR' %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}
{% set hideManageAccount = 'false' %}

{% block bodyStart %}
<form method="POST" action="/mvp/v4/search-cookies">

  {% if not showConfirmation %}
    {% set html %}
      <p class="govuk-body">We use some essential cookies to make this service work.</p>
      <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
    {% endset %}

    <div id="cookie-banner-initial">
      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + serviceName,
        messages: [
          {
            headingText: "Cookies on " + serviceName,
            html: html,
            actions: [
              {
                text: "Accept analytics cookies",
                name: "cookies",
                value: "Yes",
                type: "submit"
              },
              {
                text: "Reject analytics cookies",
                name: "cookies",
                value: "No",
                type: "submit"
              },
              {
                text: "View cookies",
                href: "cookies"
              }
            ]
          }
        ]
      }) }}
    </div>
  {% endif %}

  {% if showConfirmation %}
{% set confirmHtml %}
  <p class="govuk-body">
    You’ve 
      {% if cookies == 'Yes' %}
        accepted
      {% else %}
        rejected
      {% endif %}
     additional cookies. 
    You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.
  </p>
{% endset %}


    <div id="cookie-banner-confirmation">
      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + serviceName,
        messages: [
          {
            html: confirmHtml,
            actions: [
              {
                text: "Hide cookie message",
                type: "button",
                classes: "govuk-button hide-cookie-banner"
              }
            ]
          }
        ]
      }) }}
    </div>
  {% endif %}

</form>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hideBtn = document.querySelector('.hide-cookie-banner');

    if (hideBtn) {
      hideBtn.addEventListener('click', function () {
        const confirmationPanel = document.getElementById('cookie-banner-confirmation');
        const initialPanel = document.getElementById('cookie-banner-initial');

        if (confirmationPanel) confirmationPanel.style.display = 'none';
        if (initialPanel) initialPanel.style.display = 'block';

        // Remove ?confirmation=true from the URL without reloading
        const url = new URL(window.location);
        url.searchParams.delete('confirmation');
        window.history.replaceState({}, '', url);
      });
    }
  });
</script>



{% endblock %}

{% block form %}

  <div class="govuk-form-group search-container">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name"> Search for an MRN, CHED or DUCR </label>
    </h1>
    <div class="search-hint govuk-hint govuk-body-s">
      <ul class="govuk-list">
        <li>
          For example:
        </li>
        <li>
          MRN, 24GB0Z8WEJ9ZBTL73B
        </li>
        <li>
          CHED, CHEDP.GB.2025.4433124 or GBCHD2025.4433124
        </li>
        <li>
          DUCR, 4GB335031931000-WB2408-27WWL6274S
        </li>
      </ul>  
    </div>
    <div class="govuk-form-group {% if data.error %}govuk-form-group--error{% endif %}">
      {% if data.error %}
        <p id="full-name-input-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ data.errorMessage }}
        </p>
      {% endif %}
      <div class="govuk-input-wrapper" style="position: relative; display: flex; align-items: center;">
        <input class="govuk-input" id="searchTerm" name="data.searchTerm" type="text" 
               value="{{ data.searchTerm }}" oninput="toggleClearButton()" style="padding-right: 30px;" />
        <button type="button" id="clearButton" class="clear-search" onclick="clearSearch()" 
                style="color:#1d70b8; position: absolute; right: 60px; background: none; border: none; font-size: 30px; cursor: pointer;">
          &times;
        </button>
        <button type="submit" class="btms-search__button">
          <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <circle cx="10" cy="10" r="8" stroke="#ffffff" stroke-width="2"></circle>
            <line x1="15" y1="15" x2="22" y2="22" stroke="#ffffff" stroke-width="2"></line>
          </svg>
        </button>
      </div>
    </div>
  </div>


{% endblock %}
