<!-- prettier-ignore-start -->

{% extends "layouts/forms.html" %}
{% set title = 'You do not have the correct permissions to access this service' %}
{% set signedIn = 'false' %}
{% set fullWidth = false %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}
<!-- prettier-ignore-end -->


{% block form %}

<h1 class="govuk-heading-l">
  {{title}}

</h1>

<p class="govuk-body">
  Contact your organisation’s administrator if you need access.
</p>






{% endblock %}