{% extends "layouts/forms.html" %}
{% set title = 'Accessibility statement for the ' + serviceName + ' (BTMS)' %}
{% set fullWidth = false %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}
{% set menu = true %}

{% block form %}

<h1 class="govuk-heading-l">{{title}}</h1>

<p>We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Zoom in up to 300% without the text spilling off the screen</li>
  <li>Navigate most of the website using just a keyboard</li>
  <li>Listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
    VoiceOver)</li>
  <li>Use the application on GDS Compliant browsers</li>
  <li>We have also made the website text as simple as possible to understand</li>
</ul>

<p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a
  disability.</p>

<h1 class="govuk-heading-m">How accessible this website is</h1>

<p>BTMS is fully accessible.</p>

<h1 class="govuk-heading-m">What to do if you cannot access parts of this website</h1>
<p>If you find any accessibility problems or you think we are not meeting accessibility requirements, raise an issue
  using the Defra My IT portal, or call the service desk on 0800 876 6458. </p>

<p>If you need information on this website in a different format, like accessible PDF, easy read, large print or
  braille, raise a request on the Defra My IT portal, or call the service desk on 0800 876 6458.</p>

<p>We will consider your request and get back to you within 10 days.</p>

<h1 class="govuk-heading-m">Enforcement procedure</h1>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you
  are not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">the Equality
    Advisory and Support Service (EASS)</a>.</p>

<h1 class="govuk-heading-m">Technical information about this website’s accessibility</h1>
<p>Defra is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and
  Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h1 class="govuk-heading-m">How we tested this website</h1>
<p>The service was last tested on 9 July 2025 and was checked for compliance by the Defra accessibility team.</p>
<p>All findings have been addressed.</p>
<p>This statement was prepared on 17 July 2025.</p>

{% endblock %}