{% extends "layouts/forms.html" %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '25GB9JUZYKH1OWNAR7' %}
{% set bodyClasses = 'mrn accordion v4' %}
{% set cssClassName = 'timeline' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}
{% set hideBackLink = true %}
{% set showMenu = true %}
{% set searchLinkHref = '../search' %}
{% set menu = true %}

{% block form %}



<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#summary">Latest</a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#timeline">Timeline</a>
    </li>
  </ul>

  <!-- SUMMARY TAB -->
  <div class="govuk-tabs__panel" id="summary">
    <h2 class="govuk-heading-m sectionHeader">{{ data.Cds | safe }}</h2>

{% include 'includes/mrn-filters.html' %}

<div class="mrn-container" id="mrn-toggle">

  <div class="toggle-area" data-target="commodityTable3">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>
            25GB9JUZYKH1OWNAR7
          </dd>
        </div>
        <div class="row">
          <dt>GMR</dt>
          <dd>
            <a href="gmr">
              <span>GMRA00002TT2</span>
            </a>

          </dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd><span class="govuk-tag govuk-tag--green">Finalised – Manually released</span></dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>8 September 2025, 14:42</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>

    <div id="commodityTable3" class="commodity-table">
      <table class="govuk-table data-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item number</th>
            <th scope="col" class="govuk-table__header">Commodity code</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Quantity / Weight</th>
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Match</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

 

    

          <!-- Item 8: RASPBERRIES -->
          <tr class="match HMI-SMS first release">
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">1604142800</td>
            <td class="govuk-table__cell">TUNA IN BRINE</td>
            <td class="govuk-table__cell">16830</td>
            <td class="govuk-table__cell ">GBCHD2025.6515182</td>
            <td class="govuk-table__cell "><span class="govuk-tag govuk-tag--green">Yes</span></td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="HMI-SMS">POAO</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="HMI-SMS">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>

          <tr class="match PHSI release second item-continuation">
            <td class="govuk-table__cell blank-cell">1</td>
            <td class="govuk-table__cell blank-cell">0808309090</td>
            <td class="govuk-table__cell blank-cell">RASPBERRIES</td>
            <td class="govuk-table__cell blank-cell">3240</td>
            <td class="govuk-table__cell blank-cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell blank-cell"></td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">IUU</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>

          <tr class="match HMI-SMS first release">
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">1604151100</td>
            <td class="govuk-table__cell">MACKEREL IN BRINE</td>
            <td class="govuk-table__cell">1244</td>
            <td class="govuk-table__cell ">GBCHD2025.6515181</td>
            <td class="govuk-table__cell "><span class="govuk-tag govuk-tag--green">Yes</span></td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="HMI-SMS">POAO</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="HMI-SMS">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>

          <tr class="match PHSI release second item-continuation">
            <td class="govuk-table__cell blank-cell">1</td>
            <td class="govuk-table__cell blank-cell">0808309090</td>
            <td class="govuk-table__cell blank-cell">RASPBERRIES</td>
            <td class="govuk-table__cell blank-cell">3240</td>
            <td class="govuk-table__cell blank-cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell blank-cell"></td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="PHSI">IUU</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision split">
              <ul class="govuk-list">
                <li class="PHSI">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>

       

        </tbody>
      </table>
    </div>
  </div>
</div>

<h2 class="govuk-heading-m sectionHeader ched-header">{{ data.Ipaffs | safe }}</h2>
{% include 'includes/ched-filters.html' %}


  </div> <!-- End Summary tab panel -->

  <!-- TIMELINE TAB -->
  <div class="govuk-tabs__panel" id="timeline">
    <!-- Timeline data embedded directly in this template for 25GB4VN6T1XZ7B3Q5L -->
    <script>
      // Timeline events from Figma design for 25GB4VN6T1XZ7B3Q5L
      window.timelineData = [
      {
      title: 'BTMS decision - BTMS to CDS',
      decision: '7',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-07T13:18:57Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
             <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
                   <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          
          
        </tbody>
      </table>
          <h3 class="govuk-heading-s govuk-!-margin-top-4">Item 2 - RASPBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810201000</p>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
      `
    },
    {
      title: 'CDS decision request - CDS to BTMS',
      version: 3,
      created: '2026-01-07T13:18:57Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1 - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
       
        </tbody>
      </table>
      <h3 class="govuk-heading-s govuk-!-margin-top-4">Item 2 - RASPBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810201000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
      
         
       
        </tbody>
      </table>
      `
    },
    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '6',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-07T08:13:04Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
             <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
                   <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
    {
      title: 'CDS decision request - CDS to BTMS',
      version: 2,
      created: '2026-01-07T08:13:04Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1 - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
       
        </tbody>
      </table>
      `
    },
    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '5',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-05T17:42:24Z',

      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
              <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
             <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
                   <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
    {
      title: 'CHEDPP.GB.2026.7069665 - IPAFFS to BTMS',
      chedStatus: 'Valid',
      decision: 'Compliant',
      created: '2026-01-05T17:42:24Z',
      hasDetails: false
    },

 
    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '4',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-05T17:16:31Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
             <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
                   <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
    {
      title: 'CHEDPP.GB.2026.7069799 - IPAFFS to BTMS',
      chedStatus: 'Valid',
      decision: 'Compliant',
      created: '2026-01-05T17:16:31Z',
      hasDetails: false
    },
    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '3',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-05T16:51:55Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
                   <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
           <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">C03</td>
            <td class="govuk-table__cell">Release - Inspection complete</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
 
    {
      title: 'CHEDPP.GB.2026.7069866 - IPAFFS to BTMS',
      chedStatus: 'Valid',
      decision: 'Compliant',
      created: '2026-01-05T16:51:55Z',
      hasDetails: false
    },

    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '2',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-05T16:43:58Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H01</td>
            <td class="govuk-table__cell">Hold - HMI decision not provided</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
    {
      title: 'CHEDPP.GB.2026.7069836 - IPAFFS to BTMS',
      chedStatus: 'Valid',
      decision: 'Compliant',
      created: '2026-01-05T16:43:58Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069836 - IPAFFS to BTMS',
      chedStatus: 'In progress',
      created: '2026-01-05T14:03:24Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069866 - IPAFFS to BTMS',
      chedStatus: 'In progress',
      created: '2026-01-05T14:03:24Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069799 - IPAFFS to BTMS',
      chedStatus: 'In progress',
      created: '2026-01-05T14:03:24Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069665 - IPAFFS to BTMS',
      chedStatus: 'In progress',
      created: '2026-01-05T14:03:24Z',
      hasDetails: false
    },
    {
      title: 'BTMS decision - BTMS to CDS',
      decision: '1',
      cdsStatus: 'In progress - Awaiting IPAFFS',
      created: '2026-01-05T11:48:51Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1  - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision code</th>
            <th scope="col" class="govuk-table__header">Decision </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI -SMS</td>
            <td class="govuk-table__cell">H02</td>
            <td class="govuk-table__cell">Hold - To be inspected</td>
          </tr>
          
        </tbody>
      </table>
      `
    },
    {
      title: 'CDS decision request - CDS to BTMS',
      version: 1,
      created: '2026-01-05T11:46:51Z',
      hasDetails: true,
      detailsHtml: `
      <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1 - STRAWBERRIES</h3>
      <p class="commodity-code"><strong>Commodity code:</strong> 0810100000</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Check code</th>
            <th scope="col" class="govuk-table__header">Authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069665</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069799</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069836</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H218</td>
            <td class="govuk-table__cell">HMI-SMS</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">GBCHD2026.7069866</td>
            <td class="govuk-table__cell">H219</td>
            <td class="govuk-table__cell">PHSI</td>
          </tr>
       
        </tbody>
      </table>
      `
    },
    {
      title: 'CHEDPP.GB.2026.7069866 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:41:30Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069866 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:41:30Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069836 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:37:15Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069836 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:37:15Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069799 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:31:46Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069799 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:31:46Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069665 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:16:43Z',
      hasDetails: false
    },
    {
      title: 'CHEDPP.GB.2026.7069665 - IPAFFS to BTMS',
      chedStatus: 'Submitted',
      created: '2026-01-05T10:16:43Z',
      hasDetails: false
    }
      ];
      
      // Sort timeline entries by date in descending order (newest first)
      window.timelineData.sort(function(a, b) {
        return new Date(b.created) - new Date(a.created);
      });
    </script>

    {% include 'includes/timeline-filters.html' %}

    <div id="timeline-container">
      <!-- Timeline will be rendered here by JavaScript -->
    </div>
  </div> <!-- End Timeline tab panel -->
</div> <!-- End govuk-tabs -->

{% endblock %}
