{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '25GB39TWY8009YRAR9' %}
{% set bodyClasses = 'mrn accordion' %}
{% set cssClassName = 'auth' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}





{% block form %}


<h2 class="govuk-heading-m sectionHeader">{{ data.Cds | safe }}</h2>

<div class="mrn-container" id="mrn-toggle">

  <div class="mrn-container toggle-area" data-target="commodityTable1">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>
            <strong class="govuk-tag govuk-tag--yellow">

                 {{ title }}
              </strong>
          </dd>
        </div>
        <div class="row">
          <dt>DUCR</dt>
          <dd>    
            5GB776695167000-IM106796
             
    
          </dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd>Current          </dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>{{ '22 May 2024' | mrnTime }}</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <!-- Chevron arrow wrapper -->
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>



<div id="commodityTable1" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" >Item  number</th>
        <th scope="col" class="govuk-table__header">Commodity code</th>
        <th scope="col" class="govuk-table__header ">Description</th>
        <th scope="col" class="govuk-table__header ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header" >CHED reference</th>
        <th scope="col" class="govuk-table__header" >Match</th>
        <th scope="col" class="govuk-table__header">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body ">
 
      <tr class="govuk-table__row match release POAO">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">0709999090</td>
        <!-- <td class="govuk-table__cell" data-tooltip="MEAT OF SWINE FRESH CHILLED OR FROZEN FOODS"><span>MEAT OF SWINE FRESH CHILLED OR FROZE …</span></td> -->
        <td class="govuk-table__cell" tabindex="0">
          <span>CHINESE CONVOLVULUS - IPOMOEA AQUAT …</span>
          <span class="tooltip" role="tooltip">
            CHINESE CONVOLVULUS - IPOMOEA AQUATICA, ENTSAI, ONG CHOI

          </span>
      </td>
        <td class="govuk-table__cell">56.96</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li >
              GBCHD2025.5736652
            </li>

        </td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision">  
            <ul class="govuk-list">
              <li class="POAO">
                Hold - awaiting decision <span>(PP-PHSI)</span>
              </li>
            </ul>
        </td>
      </tr>  
      <tr class="govuk-table__row match release FNAO">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">0709999090</td>
        <td class="govuk-table__cell" tabindex="0">
          <span>CHINESE CHIVE</span>
     
      </td>
              <td class="govuk-table__cell">100</td>
        <td class="govuk-table__cell ">

          <span class="error">Requires CHED …</span>
          <span class="tooltip" role="tooltip">
            This customs declaration with a GMS product has been selected for HMI inspection. Either create a new CHED PP or amend an existing one referencing the GMS product. Amend the customs declaration to reference the CHED PP.
          </span>
        </td>
          
          <td class="govuk-table__cell no-match" tabindex="0">
            <span><strong class="govuk-tag govuk-tag--red message">No</strong></span>
            <span class="tooltip" role="tooltip">
              A Customs Declaration has been submitted however no matching CHED has been submitted to Port Health            </span>
        </td>        
        <td class="govuk-table__cell decision multi-auth">  
           <span>No match (HMI)</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>



</div>






<h2 class="govuk-heading-m sectionHeader ched-header">{{ data.Ipaffs | safe }}</h2>
<div class="ched-container toggle-area" data-target="commodityTable3">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
           
          CHEDPP.GB.2025.5736652

   
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>New</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



<div id="commodityTable3" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row FNAO">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">0709999090</td>
        <td class="govuk-table__cell">Ipomoea aquatica</td>
        <td class="govuk-table__cell">300</td>
        <td class="govuk-table__cell decision multi-auth">  

          Scheduled inspection <span>(PHSI)</span>
        </td>
      </tr>

     
    </tbody>
  </table>
  </div>
  </div>


  
 

{% endblock %}
