{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set hideBackLink = false %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '25GB1EU8XXNPKSTAR4' %}
{% set bodyClasses = 'mrn' %}
{% set cssClassName = 'auth' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}

{% block headIcons %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ title }}
    </li>
  </ol>
</nav>
{% endblock %}


{% block form %}


<h2 class="govuk-heading-m sectionHeader">Customs declaration details</h2>
<div class="inline-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label" for="match">Match</label>
    <select class="govuk-select" id="match" name="match">
      <option value="show-all" selected>Show all</option>
      <option value="match">Yes</option>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="decision">Decision</label>
    <select class="govuk-select" id="decision" name="decision">
      <option value="show-all" selected>Show all</option>
      <option value="release">Release</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="auth">Authority</label>
    <select class="govuk-select" id="auth" name="auth">
      <option value="show-all" selected>Select all</option>
      <option value="PHSI">PP-PHSI</option>
    </select>
  </div>
  <div class="govuk-form-group">
     <a class="clear-filter" href="#" style="display: none;">Clear filters</a>
   </div>
</div>

<div class="mrn-container" id="mrn-toggle">

  <div class="mrn-container toggle-area" data-target="commodityTable1">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>
            <strong class="govuk-tag govuk-tag--yellow">

                 {{ title }}
              </strong>
          </dd>
        </div>
        <div class="row">
          <dt>DUCR</dt>
          <dd>    
            5GB849450791000-B00097976
             
    
          </dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd>Released to free circulation</dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>{{ '22 May 2024' | mrnTime }}</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <!-- Chevron arrow wrapper -->
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>



<div id="commodityTable1" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" >Item  number</th>
        <th scope="col" class="govuk-table__header">Commodity code</th>
        <th scope="col" class="govuk-table__header ">Description</th>
        <th scope="col" class="govuk-table__header ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header" >CHED reference</th>
        <th scope="col" class="govuk-table__header" >Match</th>
        <th scope="col" class="govuk-table__header">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body ">
      <tr class="govuk-table__row match release PHSI">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">602905000</td>
        <td class="govuk-table__cell">OTHER OUTDOOR PLANTS</td>
        <td class="govuk-table__cell">622</td>
        <td class="govuk-table__cell">
          GBCHD2025.5512831
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision multi-auth">  
          Release - Inspection Complete <span>(PP-PHSI)</span>
        </td>
      </tr>

      <tr class="govuk-table__row match release PHSI">
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">602904700</td>
        <td class="govuk-table__cell">CONIFERS AND EVERGREENS</td>
        <td class="govuk-table__cell">788</td>
        <td class="govuk-table__cell">
              GBCHD2025.5512831
        </td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision multi-auth">  
          Release - Inspection Complete <span>(PP-PHSI)</span>

        </td>
      </tr> 


    </tbody>
  </table>
</div>

</div>



</div>





<h2 class="govuk-heading-m sectionHeader ched-header">IPAFFS notification (CHED) details</h2>
<div class="inline-form-group">

  <div class="govuk-form-group">
    <label class="govuk-label" for="authChed">Authority</label>
    <select class="govuk-select" id="authChed" name="authChed">
      <option value="show-all" selected>Show all</option>
      <option value="PHSI">PHA-PHSI</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <a href="#" class="clear-filter" >Clear Filters</a>


   </div>
</div>
<div class="ched-container toggle-area" data-target="commodityTable3">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
           
          CHEDPP.GB.2025.5512831

   
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



<div id="commodityTable3" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer acuminatum</td>
        <td class="govuk-table__cell">145.48	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Adiantum sp.</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>

      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Adiantum raddianum</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Aechmea fasciata</td>
        <td class="govuk-table__cell">14.14	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Aeschynanthus sp.</td>
        <td class="govuk-table__cell">14.14	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">7</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aglaonema sp.</td>
        <td class="govuk-table__cell">12.12</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">8</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">9</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aloe sp.	</td>
        <td class="govuk-table__cell">56.57	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">10</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Anthurium sp.</td>
        <td class="govuk-table__cell">133.35	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">11</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aphelandra sp.</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Armeria sp.</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">13</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Asparagus sp.</td>
        <td class="govuk-table__cell">113.15	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">14</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Asplenium sp.</td>
        <td class="govuk-table__cell">2.02</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">15</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Beaucarnea recurvata</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">16</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Begonia maculata</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">17</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Buddleia sp.</td>
        <td class="govuk-table__cell">64.66	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">18</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Calathea sp.	</td>
        <td class="govuk-table__cell">173.76	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">19</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Callisia sp.	</td>
        <td class="govuk-table__cell">40.41		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Camellia sp.</td>
        <td class="govuk-table__cell">66.68		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">21</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ehretia microphylla</td>
        <td class="govuk-table__cell">6.06	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">22</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Caryota mitis</td>
        <td class="govuk-table__cell">2.02	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">23</td>
        <td class="govuk-table__cell">06029047</td>
        <td class="govuk-table__cell">Ceanothus sp.</td>
        <td class="govuk-table__cell">6.06		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">24</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ceropegia sp.	</td>
        <td class="govuk-table__cell">121.23	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">52.53	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">26</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chlorophytum sp.</td>
        <td class="govuk-table__cell">129.31	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">27</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Cissus caesia</td>
        <td class="govuk-table__cell">2.02	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">28</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Citrus sp.</td>
        <td class="govuk-table__cell">42.43	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Clivia sp.	</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">30</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Clusia sp.	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">31</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Codiaeum variegatum	</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">32</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Coffea arabica	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">33</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Convallaria sp.	</td>
        <td class="govuk-table__cell">145.48	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">34</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Cotinus sp.</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">35</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Crassula sp.	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">36</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Curio sp.	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">37</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Cycas sp.	</td>
        <td class="govuk-table__cell">14.14		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">38</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">202.05	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">39</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Cymbidium sp.</td>
        <td class="govuk-table__cell">32.33		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">40</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Cyrtomium sp.</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">41</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Daphne sp.	</td>
        <td class="govuk-table__cell">24.25	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">42</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Delosperma sp.	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">43</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dianthus sp.</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">44</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dionaea sp.	</td>
        <td class="govuk-table__cell">72.74		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">45</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Doryopteris sp.	</td>
        <td class="govuk-table__cell">40.41		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">46</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Dracaena sp.	</td>
        <td class="govuk-table__cell">234.38		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">47</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dryopteris sp.	</td>
        <td class="govuk-table__cell">72.74	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">48</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Echeveria sp.	</td>
        <td class="govuk-table__cell">6.06		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">49</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Edgeworthia sp.	</td>
        <td class="govuk-table__cell">14.14		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">50</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Epipremnum sp.	</td>
        <td class="govuk-table__cell">44.45		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">51</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Eriostemon sp.</td>
        <td class="govuk-table__cell">72.74	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">52</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Euonymus fortunei	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">53</td>
        <td class="govuk-table__cell">06029046	</td>
        <td class="govuk-table__cell">Euonymus japonicus	</td>
        <td class="govuk-table__cell">303.08	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">54</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Euryops sp.	</td>
        <td class="govuk-table__cell">121.23		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">55</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ficus sp.	</td>
        <td class="govuk-table__cell">38.39		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">56</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ficus retusa	</td>
        <td class="govuk-table__cell">8.08		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">57</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Fittonia sp.</td>
        <td class="govuk-table__cell">76.78		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">58</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Gynura sp.	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">59</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">52.53	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Haworthia sp.	</td>
        <td class="govuk-table__cell">109.11		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">60</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Hedera sp.	</td>
        <td class="govuk-table__cell">2267.0		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">61</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Hemionitis arifolia	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">62</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Hibiscus sp.	</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">63</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Howea forsteriana	</td>
        <td class="govuk-table__cell">8.08	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">64</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Hoya sp.	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">65</td>
        <td class="govuk-table__cell">06012090</td>
        <td class="govuk-table__cell">Hyacinthoides sp.	</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">66</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Hydrangea sp.</td>
        <td class="govuk-table__cell">646.56		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">67</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">68</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Iresine herbstii</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
     
    </tbody>
  </table>
  </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".toggle-area").forEach(function (toggleArea) {
          const targetId = toggleArea.getAttribute("data-target");
          const content = document.getElementById(targetId);
          const toggleArrow = toggleArea.querySelector("#toggleArrow");
          const shouldCollapse = toggleArea.getAttribute("data-collapsed") === "true";
          const container = toggleArea.querySelector(".container"); // Target only .container inside .toggle-area
  
          if (content && container) {
              // Set initial state
              content.style.display = shouldCollapse ? "none" : "block";
              toggleArrow.classList.add(shouldCollapse ? "fa-chevron-down" : "fa-chevron-up");
  
              // Make container focusable and accessible
              container.setAttribute("tabindex", "0"); // Allows keyboard focus
              container.setAttribute("role", "button"); // Identifies as a button for screen readers
              container.setAttribute("aria-expanded", !shouldCollapse);
              container.setAttribute("aria-controls", targetId);
  
              const toggleContent = () => {
                  const isHidden = content.style.display === "none";
                  content.style.display = isHidden ? "block" : "none";
                  toggleArrow.classList.toggle("fa-chevron-up", isHidden);
                  toggleArrow.classList.toggle("fa-chevron-down", !isHidden);
                  container.setAttribute("aria-expanded", isHidden);
              };
  
              // Click event for mouse users
              container.addEventListener("click", toggleContent);
  
              // Keyboard accessibility: Toggle with Enter or Space
              container.addEventListener("keydown", function (event) {
                  if (event.key === "Enter" || event.key === " ") {
                      event.preventDefault(); // Prevent page scrolling on spacebar press
                      toggleContent();
                  }
              });
          }
      });
  });
  
  
  
  
    </script>
    
  <style>
    .govuk-icon--down::before {
    content: '\2193'; /* Down arrow symbol */
  }
  .container:focus {
      outline: 3px solid #ffdd00; /* GOV.UK yellow */
      box-shadow: 0 0 0 3px black; /* Black outline for contrast */
  }
  
  .govuk-icon--up::before {
    content: '\2191'; /* Up arrow symbol */
  }
  .container {
      position: relative;
      cursor: pointer;
      border: 1px solid #dbdbdb; /* Add left border */
  
  
    }
  
     .commodity-table {
      margin: 0 !important;
      border: 1px solid #dbdbdb; /* Add left border */
      border-top: none;
      padding: 15px!important;
      padding-bottom: 0 !important;
  }
  .govuk-table__header, .govuk-table__cell {
    border-bottom: 1px solid #dbdbdb;
  }
  .mrn .govuk-table__cell.multi-auth ul li {
      border-top: 1px solid #dbdbdb;
  
  }
  .govuk-table__body tr:last-of-type td {
    border-bottom: none
  }
  
  .mrn .govuk-table {
      margin: 0;
  }
  #toggleArrowContainer {
    position: absolute;
    top: 0; /* Align the chevron container to the top of the parent container */
    right: 0px; /* Adjust this for spacing from the right edge */
    display: flex;
    align-items: center;  /* Center the chevron vertically */
    justify-content: center;  /* Center the chevron horizontally */
    height: 100%; /* Ensure it takes up the full height of the container */
    border-left: 1px solid #dbdbdb; /* Add left border */
    padding-left: 15px;
    padding-right: 25px;
  
  }
  
  #toggleArrow {
    font-size: 1.2em; /* Adjust for better visual appearance */
    color: #1d70b8;
    padding-left: 10px; /* Space between arrow and border */
  }
  .mrn .no-data-message { 
    margin-top: 0;
  }
  
  </style>
  
  <script>
    
  document.addEventListener("DOMContentLoaded", function () {
    // Existing selectors
    const matchSelect = document.getElementById("match");
    const decisionSelect = document.getElementById("decision");
    const authSelect = document.getElementById("auth");
    const clearFilterLink = document.querySelector(".clear-filter");
    const mrnContainers = document.querySelectorAll(".mrn-container");
    
    // New CHED specific selectors
    const authChedSelect = document.getElementById("authChed");
    const clearChedFilterLink = document.querySelector(".ched-header + .inline-form-group .clear-filter");
    const chedContainers = document.querySelectorAll(".ched-container");
    
    // Flag to prevent infinite loops when synchronizing selects
    let isSynchronizing = false;
    
    // Original MRN container filtering function (unchanged)
    function filterRows() {
      let allRowsHidden = true;
  
      mrnContainers.forEach(container => {
        const table = container.querySelector(".govuk-table");
        const tableHead = table.querySelector(".govuk-table__head");
        const tableRows = container.querySelectorAll(".govuk-table__body tr");
        const matchValue = matchSelect.value;
        const decisionValue = decisionSelect.value;
        const authValue = authSelect.value;
        let containerHidden = true;
        let noDataMessage = container.querySelector(".no-data-message");
  
        if (!noDataMessage) {
    noDataMessage = document.createElement("p");
    noDataMessage.className = "no-data-message govuk-body";
    noDataMessage.innerText = "There are no items that match the filters selected.";
    noDataMessage.style.display = "none";
  
    // Append inside .commodity-table instead of container
    const commodityTable = container.querySelector(".commodity-table");
    if (commodityTable) {
      commodityTable.appendChild(noDataMessage);
    }
  }
  
        tableRows.forEach(row => {
          const isMatchRow = row.classList.contains("match");
          const isNoMatchRow = row.classList.contains("no-match");
          const isHoldRow = row.classList.contains("hold");
          const isReleaseRow = row.classList.contains("release");
          const isPOAORow = row.classList.contains("POAO");
          const isHMIRow = row.classList.contains("HMI");
          const isPHSIRow = row.classList.contains("PHSI");
          const isFNAORow = row.classList.contains("FNAO");
          const isIUURow = row.classList.contains("IUU");
  
          // Filter conditions
          const matchFilter =
            matchValue === "show-all" ||
            (matchValue === "match" && isMatchRow) ||
            (matchValue === "noMatch" && isNoMatchRow);
  
          const authFilter =
            authValue === "show-all" ||
            (authValue === "POAO" && isPOAORow) ||
            (authValue === "PHSI" && isPHSIRow) ||
            (authValue === "FNAO" && isFNAORow) ||
            (authValue === "HMI" && isHMIRow) ||
            (authValue === "IUU" && isIUURow);
  
          const decisionFilter =
            decisionValue === "show-all" ||
            (decisionValue === "hold" && isHoldRow) ||
            (decisionValue === "release" && isReleaseRow);
  
          if (matchFilter && decisionFilter && authFilter) {
            row.style.display = "";
            containerHidden = false;
            allRowsHidden = false;
  
            // Hide or show <li> elements based on the selected authority filter
            const decisionItems = row.querySelectorAll(".decision li");
            decisionItems.forEach(li => {
              if (authValue === "show-all" || li.classList.contains(authValue)) {
                li.style.display = ""; // Show matching authorities
  
                // Only apply class if authValue is one of the valid authorities
                if (authValue === "FNAO" || authValue === "HMI" || authValue === "PHSI" || authValue === "POAO" || authValue === "IUU" ) {
                  li.classList.add("visible-li");
                } else {
                  li.classList.remove("visible-li");
                }
              } else {
                li.style.display = "none"; // Hide non-matching authorities
                li.classList.remove("visible-li");
              }
            });
          } else {
            row.style.display = "none";
          }
        });
  
        if (containerHidden) {
          tableHead.style.display = "none";
          noDataMessage.style.display = "block";
        } else {
          tableHead.style.display = "";
          noDataMessage.style.display = "none";
        }
      });
  
      // Show or hide the "Clear filters" link based on filter selections
      clearFilterLink.style.display =
        matchSelect.value !== "show-all" ||
        decisionSelect.value !== "show-all" ||
        authSelect.value !== "show-all"
          ? "inline-block"
          : "none";
    }
  
    // NEW: Function to filter CHED containers
  // Function to filter CHED containers
  function filterChedRows() {
    chedContainers.forEach(container => {
      const table = container.querySelector(".govuk-table");
      const tableHead = table.querySelector(".govuk-table__head");
      const tableRows = container.querySelectorAll(".govuk-table__body tr");
      const authValue = authChedSelect.value;
      let containerHidden = true;
      let noDataMessage = container.querySelector(".no-data-message");
  
      if (!noDataMessage) {
        noDataMessage = document.createElement("p");
        noDataMessage.className = "no-data-message govuk-body";
        noDataMessage.innerText = "There are no commodities that match the filters selected.";
        noDataMessage.style.display = "none";
        container.appendChild(noDataMessage);
      }
  
      // Process each row
      tableRows.forEach(row => {
        const isHMIRow = row.classList.contains("HMI");
        const isPHSIRow = row.classList.contains("PHSI");
        const isFNAORow = row.classList.contains("FNAO");
        const isIUURow = row.classList.contains("IUU");
        const isPOAORow = row.classList.contains("POAO");
        
        // Authority filter for CHED section
        const authFilter =
          authValue === "show-all" ||
          (authValue === "PHSI" && isPHSIRow) ||
          (authValue === "FNAO" && isFNAORow) ||
          (authValue === "IUU" && isIUURow) ||
          (authValue === "POAO" && isPOAORow) ||
          (authValue === "HMI" && isHMIRow);
  
        if (authFilter) {
          row.style.display = "";
          containerHidden = false;
          
          // Hide or show <li> elements based on the selected authority filter (for multi-auth cases)
          const decisionItems = row.querySelectorAll(".decision li");
          decisionItems.forEach(li => {
            if (authValue === "show-all" || li.textContent.includes(getAuthorityDisplayName(authValue))) {
              li.style.display = ""; // Show matching authorities
              
              // Add visible-li class when authValue is a valid authority
              if (authValue === "FNAO" || authValue === "HMI" || authValue === "PHSI" || authValue === "POAO" || authValue === "IUU") {
                li.classList.add("visible-li");
              } else {
                li.classList.remove("visible-li");
              }
            } else {
              li.style.display = "none"; // Hide non-matching authorities
              li.classList.remove("visible-li");
            }
          });
        } else {
          row.style.display = "none";
        }
      });
  
      // Show/hide no data message and table head as needed
      if (containerHidden) {
        tableHead.style.display = "none";
        noDataMessage.style.display = "block";
      } else {
        tableHead.style.display = "";
        noDataMessage.style.display = "none";
      }
    });
  
    // Show or hide the CHED "Clear filters" link
    clearChedFilterLink.style.display = 
      authChedSelect.value !== "show-all" ? "inline-block" : "none";
  }
    
    // Helper function to get display name of authority
    function getAuthorityDisplayName(authValue) {
      switch(authValue) {
        case "FNAO": return "PHA-FNAO";
        case "HMI": return "PP-HMI";
        case "PHSI": return "PP-PHSI";
        case "IUU": return "PHA-IUU";
        case "POAO": return "PHA-POAO";
        default: return "";
      }
    }
    
    // Function to synchronize authority selection from MRN to CHED (one-way)
    function syncAuthority() {
      if (!isSynchronizing) {
        isSynchronizing = true;
        
        // Set CHED authority to match MRN authority
        authChedSelect.value = authSelect.value;
        
        // Trigger CHED filtering with the new value
        filterChedRows();
        
        isSynchronizing = false;
      }
    }
  
    // Add event listeners to existing filters
    matchSelect.addEventListener("change", filterRows);
    decisionSelect.addEventListener("change", filterRows);
    
    // Add event listener to the MRN authority filter with synchronization
    authSelect.addEventListener("change", function() {
      filterRows();
      syncAuthority(); // Synchronize the CHED authority dropdown
    });
    
    // Add event listener to CHED authority filter (no synchronization back to MRN)
    authChedSelect.addEventListener("change", filterChedRows);
  
    // Clear filters functionality for existing filters
    clearFilterLink.addEventListener("click", function (e) {
      e.preventDefault();
      matchSelect.value = "show-all";
      decisionSelect.value = "show-all";
      authSelect.value = "show-all";
      
      // Also reset the CHED authority filter
      authChedSelect.value = "show-all";
      
      filterRows();
      filterChedRows();
    });
    
    // Clear filter functionality for CHED authority filter (only resets CHED filter)
    clearChedFilterLink.addEventListener("click", function (e) {
      e.preventDefault();
      authChedSelect.value = "show-all";
      filterChedRows();
    });
  
    // Initial filtering on page load
    filterRows();
    filterChedRows();
  });
  
  
  
  
  
  
  
  </script>

{% endblock %}
