{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = '25GB1EU8XXNPKSTAR4' %}
{% set bodyClasses = 'mrn accordion' %}
{% set cssClassName = 'auth' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}

{% block headIcons %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}





{% block form %}


<h2 class="govuk-heading-m sectionHeader">{{ data.Cds | safe }}</h2>
<div class="inline-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label" for="match">Match</label>
    <select class="govuk-select" id="match" name="match">
      <option value="show-all" selected>Show all</option>
      <option value="match">Yes</option>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="decision">Decision</label>
    <select class="govuk-select" id="decision" name="decision">
      <option value="show-all" selected>Show all</option>
      <option value="release">Release</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="auth">Authority</label>
    <select class="govuk-select" id="auth" name="auth">
      <option value="show-all" selected>Select all</option>
      <option value="PHSI">PP-PHSI</option>
    </select>
  </div>
  <div class="govuk-form-group">
     <a class="clear-filter" href="#" style="display: none;">Clear filters</a>
   </div>
</div>

<div class="mrn-container" id="mrn-toggle">

  <div class="mrn-container toggle-area" data-target="commodityTable1">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>
            <strong class="govuk-tag govuk-tag--yellow">

                 {{ title }}
              </strong>
          </dd>
        </div>
        <div class="row">
          <dt>DUCR</dt>
          <dd>    
            5GB849450791000-B00097976
             
    
          </dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd>Released to free circulation</dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>{{ '22 May 2024' | mrnTime }}</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <!-- Chevron arrow wrapper -->
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>



<div id="commodityTable1" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" >Item  number</th>
        <th scope="col" class="govuk-table__header">Commodity code</th>
        <th scope="col" class="govuk-table__header ">Description</th>
        <th scope="col" class="govuk-table__header ">Quantity / Weight</th>
        <th scope="col" class="govuk-table__header" >CHED reference</th>
        <th scope="col" class="govuk-table__header" >Match</th>
        <th scope="col" class="govuk-table__header">Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body ">
      <tr class="govuk-table__row match release PHSI">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">602905000</td>
        <td class="govuk-table__cell">OTHER OUTDOOR PLANTS</td>
        <td class="govuk-table__cell">622</td>
        <td class="govuk-table__cell">
          GBCHD2025.5512831
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision multi-auth">  
          Release - Inspection complete <span>(PP-PHSI)</span>
        </td>
      </tr>

      <tr class="govuk-table__row match release PHSI">
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">602904700</td>
        <td class="govuk-table__cell">CONIFERS AND EVERGREENS</td>
        <td class="govuk-table__cell">788</td>
        <td class="govuk-table__cell">
              GBCHD2025.5512831
        </td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Yes</strong></td>
        <td class="govuk-table__cell decision multi-auth">  
          Release - Inspection complete <span>(PP-PHSI)</span>

        </td>
      </tr> 


    </tbody>
  </table>
</div>

</div>



</div>





<h2 class="govuk-heading-m sectionHeader ched-header">{{ data.Ipaffs | safe }}</h2>
<div class="inline-form-group">

  <div class="govuk-form-group">
    <label class="govuk-label" for="authChed">Authority</label>
    <select class="govuk-select" id="authChed" name="authChed">
      <option value="show-all" selected>Show all</option>
      <option value="PHSI">PHA-PHSI</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <a href="#" class="clear-filter" >Clear Filters</a>


   </div>
</div>
<div class="ched-container toggle-area" data-target="commodityTable3">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
           
          CHEDPP.GB.2025.5512831

   
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Risk outcome</dt>
        <dd>No inspection</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>{{ '22 May 2024' | chedTime }}</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <!-- Chevron arrow wrapper -->
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>



<div id="commodityTable3" class="commodity-table">
  <table class="govuk-table data-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header first" >Item  number</th>
        <th scope="col" class="govuk-table__header second" >Commodity code</th>
        <th scope="col" class="govuk-table__header third " >Description</th>
        <th scope="col" class="govuk-table__header forth " >Quantity / Weight</th>

        <th scope="col" class="govuk-table__header fifth " >Decision (authority)</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer acuminatum</td>
        <td class="govuk-table__cell">145.48	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Adiantum sp.</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>

      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Adiantum raddianum</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Aechmea fasciata</td>
        <td class="govuk-table__cell">14.14	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Aeschynanthus sp.</td>
        <td class="govuk-table__cell">14.14	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">7</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aglaonema sp.</td>
        <td class="govuk-table__cell">12.12</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">8</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Acer palmatum</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">9</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aloe sp.	</td>
        <td class="govuk-table__cell">56.57	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">10</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Anthurium sp.</td>
        <td class="govuk-table__cell">133.35	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">11</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Aphelandra sp.</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Armeria sp.</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">13</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Asparagus sp.</td>
        <td class="govuk-table__cell">113.15	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">14</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Asplenium sp.</td>
        <td class="govuk-table__cell">2.02</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">15</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Beaucarnea recurvata</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">16</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Begonia maculata</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">17</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Buddleia sp.</td>
        <td class="govuk-table__cell">64.66	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">18</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Calathea sp.	</td>
        <td class="govuk-table__cell">173.76	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">19</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Callisia sp.	</td>
        <td class="govuk-table__cell">40.41		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Camellia sp.</td>
        <td class="govuk-table__cell">66.68		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">21</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ehretia microphylla</td>
        <td class="govuk-table__cell">6.06	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">22</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Caryota mitis</td>
        <td class="govuk-table__cell">2.02	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">23</td>
        <td class="govuk-table__cell">06029047</td>
        <td class="govuk-table__cell">Ceanothus sp.</td>
        <td class="govuk-table__cell">6.06		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">24</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ceropegia sp.	</td>
        <td class="govuk-table__cell">121.23	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">52.53	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">26</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chlorophytum sp.</td>
        <td class="govuk-table__cell">129.31	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">27</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Cissus caesia</td>
        <td class="govuk-table__cell">2.02	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">28</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Citrus sp.</td>
        <td class="govuk-table__cell">42.43	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">29</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Clivia sp.	</td>
        <td class="govuk-table__cell">16.16	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">30</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Clusia sp.	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">31</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Codiaeum variegatum	</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">32</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Coffea arabica	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">33</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Convallaria sp.	</td>
        <td class="govuk-table__cell">145.48	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">34</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Cotinus sp.</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">35</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Crassula sp.	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">36</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Curio sp.	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">37</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Cycas sp.	</td>
        <td class="govuk-table__cell">14.14		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">38</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">202.05	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">39</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Cymbidium sp.</td>
        <td class="govuk-table__cell">32.33		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">40</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Cyrtomium sp.</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">41</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Daphne sp.	</td>
        <td class="govuk-table__cell">24.25	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">42</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Delosperma sp.	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">43</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dianthus sp.</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">44</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dionaea sp.	</td>
        <td class="govuk-table__cell">72.74		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">45</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Doryopteris sp.	</td>
        <td class="govuk-table__cell">40.41		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">46</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Dracaena sp.	</td>
        <td class="govuk-table__cell">234.38		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">47</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Dryopteris sp.	</td>
        <td class="govuk-table__cell">72.74	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">48</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Echeveria sp.	</td>
        <td class="govuk-table__cell">6.06		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">49</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Edgeworthia sp.	</td>
        <td class="govuk-table__cell">14.14		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">50</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Epipremnum sp.	</td>
        <td class="govuk-table__cell">44.45		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">51</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Eriostemon sp.</td>
        <td class="govuk-table__cell">72.74	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">52</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Euonymus fortunei	</td>
        <td class="govuk-table__cell">12.12		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">53</td>
        <td class="govuk-table__cell">06029046	</td>
        <td class="govuk-table__cell">Euonymus japonicus	</td>
        <td class="govuk-table__cell">303.08	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">54</td>
        <td class="govuk-table__cell">06029050</td>
        <td class="govuk-table__cell">Euryops sp.	</td>
        <td class="govuk-table__cell">121.23		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">55</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ficus sp.	</td>
        <td class="govuk-table__cell">38.39		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">56</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Ficus retusa	</td>
        <td class="govuk-table__cell">8.08		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">57</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Fittonia sp.</td>
        <td class="govuk-table__cell">76.78		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">58</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Gynura sp.	</td>
        <td class="govuk-table__cell">24.25		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">59</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">52.53	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">25</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Haworthia sp.	</td>
        <td class="govuk-table__cell">109.11		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">60</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Hedera sp.	</td>
        <td class="govuk-table__cell">2267.0		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">61</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Hemionitis arifolia	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">62</td>
        <td class="govuk-table__cell">06029046</td>
        <td class="govuk-table__cell">Hibiscus sp.	</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">63</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Howea forsteriana	</td>
        <td class="govuk-table__cell">8.08	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">64</td>
        <td class="govuk-table__cell">0602909110</td>
        <td class="govuk-table__cell">Hoya sp.	</td>
        <td class="govuk-table__cell">32.33	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">65</td>
        <td class="govuk-table__cell">06012090</td>
        <td class="govuk-table__cell">Hyacinthoides sp.	</td>
        <td class="govuk-table__cell">48.49		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">66</td>
        <td class="govuk-table__cell">0602909190</td>
        <td class="govuk-table__cell">Hydrangea sp.</td>
        <td class="govuk-table__cell">646.56		</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">67</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Chamaedorea sp.</td>
        <td class="govuk-table__cell">48.49	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
      <tr class="govuk-table__row PHSI">
        <td class="govuk-table__cell">68</td>
        <td class="govuk-table__cell">0602909990</td>
        <td class="govuk-table__cell">Iresine herbstii</td>
        <td class="govuk-table__cell">12.12	</td>
        <td class="govuk-table__cell decision multi-auth">  
          Acceptable for internal market <span>(PHSI)</span>
        </td>
      </tr>
     
    </tbody>
  </table>
  </div>
  </div>



  
 

{% endblock %}
