{% extends "layouts/forms.html" %}
{% set title = 'Search' %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}


{% block form %}

  <div class="govuk-form-group search-container">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name"> Search </label>
    </h1>
    <div class="search-hint govuk-hint govuk-body-s">
      <ul class="govuk-list">
        <li>
          MRN, for example, 24GB0Z8WEJ9ZBTL73B
        </li>
        <li>
          CHED, for example, CHEDP.GB.2024.4433124 or GBCHD2024.4433124
        </li>
        <li>
          DUCR, for example, 4GB943952494000-BER047811
        </li>
      </ul>  
    </div>
    <div class="govuk-input-wrapper">
      <input class="govuk-input" id="data.searchTerm" name="data.searchTerm" type="text" value="{{ data.searchTerm }}" />
      <button type="submit" class="btms-search__button">
        <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <circle cx="10" cy="10" r="8" stroke="#ffffff" stroke-width="2"></circle>
          <line x1="15" y1="15" x2="22" y2="22" stroke="#ffffff" stroke-width="2"></line>
        </svg>
      </button>
    </div>
  </div>



  {% endblock %}
