{% extends "layouts/forms.html" %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set signedIn = 'true' %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set breadcrumb = true %}
{% set showSubheader = true %}
{% set subHeader = 'Showing result for' %}
{% set title = data.searchTerm or '26GB16ICKGJAY5MAR4' %}
{% set bodyClasses = 'mrn accordion v4' %}
{% set cssClassName = 'timeline' %}
{% set hideManageAccount = 'false' %}
{% set showEdit = true %}
{% set hideBackLink = true %}
{% set showMenu = true %}
{% set searchLinkHref = '../search' %}
{% set menu = true %}

{% block form %}

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#summary">Latest</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#timeline">Timeline</a>
    </li>
  </ul>

  <!-- SUMMARY TAB -->
  <div class="govuk-tabs__panel" id="summary">
    <h2 class="govuk-heading-m sectionHeader">Customs declaration details</h2>

{% include 'includes/mrn-filters.html' %}

<!-- Declaration: Expanded -->
<div class="mrn-container" id="mrn-toggle">
  <div class="toggle-area" data-target="commodityTable1">
    <div class="container govuk-body">
      <dl class="definition-list ">
        <div class="row">
          <dt>MRN</dt>
          <dd>26GB16ICKGJAY5MAR4</dd>
        </div>
        <div class="row">
          <dt>DUCR</dt>
          <dd>GB368424530000-FX26010665-01</dd>
        </div>
        <div class="row">
          <dt>CDS status</dt>
          <dd><span class="govuk-tag govuk-tag--yellow">In progress - Awaiting trader</span></dd>
        </div>
        <div class="row">
          <dt>Last updated</dt>
          <dd>4 February 2026, 07:41</dd>
        </div>
      </dl>
      <div class="toggle-wrapper">
        <div id="toggleArrowContainer">
          <i id="toggleArrow" class="fas fa-chevron-up"></i>
        </div>
      </div>
    </div>

    <div id="commodityTable1" class="commodity-table">
      <table class="govuk-table data-table">
        <caption class="govuk-visually-hidden">Item details for declaration 26GB16ICKGJAY5MAR4</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item number</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Quantity / Weight</th>
            <th scope="col" class="govuk-table__header">Commodity code</th>

            <th scope="col" class="govuk-table__header">CHED reference</th>
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header">Decision</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="match PHSI  release">
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">WHITE HONEYDEW</td>
            <td class="govuk-table__cell">14145</td>
            <td class="govuk-table__cell">0807190050</td>
            <td class="govuk-table__cell ">GBCHD2026.7174423</td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>
          <tr class="match PHSI  release">
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">WATERMELONS</td>
            <td class="govuk-table__cell">486818</td>
            <td class="govuk-table__cell error " tabindex="0">0807110000
              
            </td>            
            <td class="govuk-table__cell ">GBCHD2026.7174423</td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI ">
                  <span class="tooltiplink error">No match - Incorrect commodity code</span>
                  <span class="tooltip" role="tooltip">
                    Commodity code <strong>0603141000</strong> cannot be found in IPAFFS. Check that the code is correct.
                  </span></li>
              </ul>
            </td>
          </tr>
          <tr class="match PHSI first release">
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">HONEYDEW MELONS</td>
            <td class="govuk-table__cell">167860</td>
            <td class="govuk-table__cell">0807190050</td>

            <td class="govuk-table__cell split">GBCHD2026.7174423</td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">PHSI</li>
              </ul>
            </td>
            <td class="govuk-table__cell decision ">
              <ul class="govuk-list">
                <li class="PHSI">Release - Inspection complete</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2 class="govuk-heading-m sectionHeader ched-header">IPAFFS notification (CHED) details</h2>
{% include 'includes/ched-filters.html' %}

<!-- CHED Entry: Expanded -->
<div class="ched-container toggle-area" data-target="commodityTable3">
  <div class="container govuk-body">
    <dl class="definition-list ">
      <div class="row">
        <dt>CHED reference</dt>
        <dd>
          <a href="https://ipaffs-prototype.herokuapp.com/part-2/chedp-landbridge/00-ched-overview" target="_blank">
            <span>CHEDPP.GB.2026.7174423</span>
          </a>
          <i class="fas fa-external-link-alt"></i>
        </dd>
      </div>
      <div class="row">
        <dt>CHED Status</dt>
        <dd>Valid</dd>
      </div>
      <div class="row">
        <dt>Last updated</dt>
        <dd>3 February 2026, 05:55</dd>
      </div>
    </dl>
    <div class="toggle-wrapper">
      <div id="toggleArrowContainer">
        <i id="toggleArrow" class="fas fa-chevron-up"></i>
      </div>
    </div>
  </div>

  <div id="commodityTable3" class="commodity-table">
    <table class="govuk-table data-table">
      <caption class="govuk-visually-hidden">Item details for CHED reference CHEDPP.GB.2026.7174423</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item number</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Quantity / Weight</th>
          <th scope="col" class="govuk-table__header">Commodity code</th>

          <th scope="col" class="govuk-table__header">Authority</th>
          <th scope="col" class="govuk-table__header">Decision</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row PHSI first release">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Cucumis melo</td>
          <td class="govuk-table__cell">167860</td>
          <td class="govuk-table__cell">0807190050</td>

          <td class="govuk-table__cell split decision">
            <ul class="govuk-list">
              <li>PHSI</li>
            </ul>
          </td>
          <td class="govuk-table__cell decision split">
            <ul class="govuk-list">
              <li>Auto cleared</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row HMI item-continuation">
          <td class="govuk-table__cell blank-cell"></td>
          <td class="govuk-table__cell blank-cell"></td>
          <td class="govuk-table__cell blank-cell"></td>
          <td class="govuk-table__cell blank-cell"></td>
          <td class="govuk-table__cell decision">
            <ul class="govuk-list">
              <li>HMI</li>
            </ul>
          </td>
          <td class="govuk-table__cell decision">
            <ul class="govuk-list">
              <li>Compliant</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div> <!-- End Summary tab panel -->

  <!-- TIMELINE TAB -->
  <div class="govuk-tabs__panel" id="timeline">
    <script>
      // Timeline events for {{ data.searchTerm or '26GB16ICKGJAY5MAR4' }}
      window.timelineData = [
        {
          title: 'CDS finalisation - CDS to BTMS',
          cdsStatus: 'Finalised - Released',
          created: '2026-02-04T07:41:00Z',
          hasDetails: false
        },
        {
          title: 'CHEDPP.GB.2026.7174423 - IPAFFS to BTMS',
          chedStatus: 'Valid',
          created: '2026-02-03T05:55:00Z',
          hasDetails: true,
          detailsHtml: `
            <h3 class="govuk-heading-m govuk-!-margin-top-0">Item 1 - Cucumis melo</h3>
            <p class="commodity-code"><strong>Commodity code:</strong> 0807190050</p>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Authority</th>
                  <th scope="col" class="govuk-table__header">Decision</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">PHSI</td>
                  <td class="govuk-table__cell">Auto cleared</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">HMI</td>
                  <td class="govuk-table__cell">Compliant</td>
                </tr>
              </tbody>
            </table>
          `
        }
      ];

      // Sort timeline entries by date in descending order (newest first)
      window.timelineData.sort(function(a, b) {
        return new Date(b.created) - new Date(a.created);
      });
    </script>

    {% include 'includes/timeline-filters.html' %}

    <div id="timeline-container">
      <!-- Timeline will be rendered here by JavaScript -->
    </div>
  </div> <!-- End Timeline tab panel -->
</div> <!-- End govuk-tabs -->

{% endblock %}
