{% extends "layouts/forms.html" %}
{% set signedIn = 'true' %}
{% set menu = true %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}
{% set hideManageAccount = 'false' %}
{% set bodyClasses = 'admin' %}

{% block form %}
  <div class="govuk-form-group search-container">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="searchTerm">Search for an MRN or CHED</label>
    </h1>

    <div class="govuk-form-group{% if data.error %} govuk-form-group--error{% endif %}">
      {% if data.error %}
        <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ data.errorMessage }}
        </p>
      {% endif %}

      <div class="govuk-input-wrapper">
        <input
          class="govuk-input"
          id="searchTerm"
          name="data.searchTerm"
          type="text"
          value="{{ data.searchTerm or '' }}"
          spellcheck="false"
        />
           <button type="button" id="clearButton" class="clear-search" onclick="clearSearch()">
          &times;
        </button>
        <button type="submit" class="btms-search__button" aria-label="Search">
          <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <circle cx="10" cy="10" r="8" stroke="#fff" stroke-width="2"></circle>
            <line x1="15" y1="15" x2="22" y2="22" stroke="#fff" stroke-width="2"></line>
          </svg>
        </button>
      </div>


    </div>
  </div>

  {% if hasResults %}
    <div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#mrn-info">
            {{ primaryTabLabel | default('MRN information') }}
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#all-messages">All messages</a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="mrn-info">
        <div class="codeframe">{{ mrnHtml | safe }}</div>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-messages">
        <div class="codeframe">{{ messagesHtml | safe }}</div>
      </section>
    </div>
  {% endif %}

{% endblock %}

