{% extends "layouts/forms.html" %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% set signedIn = 'true' %}
{% set menu = true %}
{% set fullWidth = true %}
{% set hideButton = true %}
{% set showheader = true %}
{% set hideBackLink = true %}
{% set hideManageAccount = 'false' %}
{% set bodyClasses = 'admin' %}

{% block head %}
<style>
  .search-box {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .moj-timeline {
    margin-top: 0;
  }

  .moj-timeline__item {
    padding-bottom: 30px;
  }

  .moj-timeline__description {
    margin-top: 10px;
  }

  .moj-timeline__description dl {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .moj-timeline__description .govuk-summary-list {
    margin-bottom: 0;
  }

  .moj-timeline__description .govuk-tag {
    margin-right: 10px;
  }

  .timeline-section {
    margin-bottom: 40px;
  }

  .timeline-section:last-child {
    margin-bottom: 0;
  }
</style>
{% endblock %}

{% block form %}

<div class="govuk-form-group search-container">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="searchTerm">
      <span class="govuk-caption-l">Version 2</span>
      Search for an MRN or CHED
    </label>
  </h1>

  <div class="govuk-form-group{% if data.error %} govuk-form-group--error{% endif %}">
    {% if data.error %}
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ data.errorMessage }}
      </p>
    {% endif %}

    <div class="search-box">
      <input
        class="govuk-input govuk-input--width-20"
        id="searchTerm"
        name="data.searchTerm"
        type="text"
        value="{{ data.searchTerm }}"
        autocomplete="off">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </div>
  </div>
</div>

    {% if hasResults %}
      <div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#mrn-info">
              {{ primaryTabLabel | default('MRN information') }}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#all-messages">
              All messages
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="mrn-info">
          
          {% if mrnTimeline and mrnTimeline.length > 0 %}
            <h2 class="govuk-heading-m">Declaration Journey</h2>
            <p class="govuk-body">Key stages in the declaration lifecycle</p>
            
            {{ mojTimeline({
              items: mrnTimeline
            }) }}
          {% endif %}

        </section>

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-messages">
          
          {% if messagesTimeline and messagesTimeline.length > 0 %}
            <h2 class="govuk-heading-m">Message Activity</h2>
            <p class="govuk-body">Showing {{ messagesTimeline.length }} message(s) in chronological order (newest first)</p>
            
            {{ mojTimeline({
              items: messagesTimeline
            }) }}
          {% endif %}

        </section>
      </div>
    {% endif %}

{% endblock %}

