{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-l">
      {{ serviceName }} (BTMS)
    </h1>
    <h2 class="govuk-heading-m">BTMS MVPs</h2>
    <p class="govuk-heading-s">Version 1 (December 2024)</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Used for testing in December 2024, this scenario involves the user searching by CHED or MRN to identify doc matching errors.  </p>
    <p>Links to screens used in testing (in-progress) </p>
<p>To search mrn or ched use examples in the search tooltip</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="mvp/v1/search">Search</a></li>
    <li><a href="mvp/v1/mrn">MRN search results - 2 commodity line items</a> (search using 24GB6T3HFCIZV1HAR9)</li>
    <li><a href="mvp/v1/ched">CHED P search - 3 linked MRNS (search using CHEDP.GB.2024.4450758)</a></li>
  </ul>
    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
