  {% extends "layouts/main.html" %}
  {% set formActionHtml %}
    {%- if formAction -%}
      action={{- formAction -}}
    {%- endif -%}
  {% endset -%}

  {% set pageWidth %}
    {%- if notFullWidth -%}
      govuk-grid-column-two-thirds-from-desktop
    {%- else -%}
      govuk-grid-column-full
    {%- endif -%}
  {% endset -%}

  {% block beforeContent %}
  {%- if breadcrumb -%}
    {% include 'includes/breadcrumb.html' %}
  {%- endif -%}
    {% include 'includes/back.html' %}
  {% endblock %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="{% if not fullWidth %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %} {{ cssClassName }}">

        {% if showSubheader %}
          <span class="govuk-caption-l">{{subHeader}}</span>
        {% endif %}
        {% if not showheader %}
          <div class="headerh1" >
            <h1 class="govuk-heading-l">{{ title | safe }}</h1>
            {% if showEdit %}
            <a class="searchLink" href="search?searchTerm=">Search again</a>

          {% endif %}
        </div>
        {% endif %}

        <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
          {% block form %}{% endblock %}
          {% if not hideButton %}
          {{ govukButton({
            html: buttonText if buttonText else 'Continue'
          }) }}
        {% endif %}
        {{ secondaryButton | safe if secondaryButton }}
        </form>

      </div>
      {% if showDetails %}
        <div class="govuk-grid-column-one-third details-menu">
          {% include 'includes/_details-bar.html' %}
        </div>
      {% endif %}

    </div>
  {% endblock %}