{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {% if subHeader %}{{ subHeader }} {% endif %}{{ title | safe }} - {{ serviceName | safe }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/index",
    classes: "test",
    serviceName: serviceName,
    serviceUrl: 'search',
    navigation: [
      {
        href: "manage-account",
        text: "Manage account",
        classes: "test2"
      } if hideManageAccount != 'true',
      {
        href: "sign-out",
        text: "Sign out",
        classes: "test2"
      }
    ] if signedIn != 'false'
  }) }}

  {% if menu %}
    {% include 'includes/menu.html' %}
  {% endif %}
{% endblock %}

{% block footer %}

    {% include 'includes/footer.html' %}


  {{ data | log }}

{% endblock %}
