{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}
    
    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
    
    {% set accountLink %}
    
    {%- if account == 'true' -%}
        /user-research/mvp/
        {%- else -%}
        /landing-pages/interstitial
        {%- endif -%}
    {% endset -%}
    
    {% block pageTitle %}
             {{ title | safe }} -  {{ serviceName | safe }}
    {% endblock %}
    
    {% block header %}
        {{ govukHeader({
            homepageUrl: "/index",
            serviceName: serviceName,
            serviceUrl: '/mvp/v1/search',
            navigation: [
                {
                    href: accountLink,
                    text: data['dia'],
                    active: true if account == 'true'
                },
                {
                    href: "https://get-an-identity-prototype.herokuapp.com/user-research/qual/sign-out",
                    text: "Sign out"
                }
            ] if signedIn == 'false'
        }) 
    }}

    {{ govukPhaseBanner({
        tag: { text: "Prototype"},
        html: 'This is not a live service.',
        classes: 'govuk-width-container'
    }) }}
    {% endblock %}
    
    {% block footer %}
        {{ govukFooter({
        meta: {
            items: [
            {
                href: "/manage-prototype",
                text: "Manage your prototype"
            },
                {
                    href: "/manage-prototype/clear-data",
                    text: "Clear data"
                }
            ]
            }
            }) 
        }}
        
        {{ data | log }}
    
    {% endblock %}