{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}
    
    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
    
    {% set accountLink %}
    
    {%- if account == 'true' -%}
        /user-research/mvp/
        {%- else -%}
        /landing-pages/interstitial
        {%- endif -%}
    {% endset -%}
    
    {% block pageTitle %}
             {{ title | safe }} -  {{ serviceName | safe }}
    {% endblock %}
    
    {% block header %}
        {{ govukHeader({
            homepageUrl: "/index",
            classes: "test",

            serviceName: serviceName,
            serviceUrl: 'search',
            navigation: [
                {
                    href: "manage-account",
                    text: "Manage account",
                    classes: "test2"
                },
                {
                    href: "sign-out",
                    text: "Sign out",
                    classes: "test2"
                }
            ] if signedIn != 'false'
        }) 
    }}
    {% if not hidePhaseBanner %}

        {{ govukPhaseBanner({
            tag: { 
            text: "Beta"},
            html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.',
            classes: 'govuk-width-container'
        }) }}
    {% endif %}

    {% endblock %}
    
    {% block footer %}
        {{ govukFooter({
        meta: {
            items: [
            {
                href: "/manage-prototype",
                text: "Manage your prototype"
            },
                {
                    href: "/manage-prototype/clear-data",
                    text: "Clear data"
                }
            ]
            }
            }) 
        }}
        
        {{ data | log }}
    
    {% endblock %}